@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

*, ul, a {
    font-family: 'Poppins', sans-serif;
}

.parallax {
    position: fixed;
    bottom: 0;
    display: block;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    transform-origin: bottom;
}
.moon, .shadow, .smoke {
    mix-blend-mode: screen;
}
.road {
    position: absolute;
}

section, footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#home {
    background: rgba(46, 18, 95, 1);
    background: linear-gradient(to bottom, rgba(46, 18, 95, 1) 0%, rgba(45, 75, 145, 1) 10%, rgba(75, 147, 200, 1) 50%, rgba(139, 227, 253, 1) 100%);
    background-attachment: fixed;
    pointer-events: none;
}

section:not(#home), footer {
    background: rgba(42, 48, 100, 1);
}
.textBox,
.imgBox {
    pointer-events: auto;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}
.textBox,
.imgBox .img {
    opacity: 0;
}

.textBox {
    color: #f0f0f0;
}
.textBox h2 {
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 500;
}
.textBox h2 span {
    color: #fb0;
    font-weight: 900;
}

.imgBox .img {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
    border-left: 15px solid #fb0;
    background:
        linear-gradient(135deg, #fb0 0 calc(20% + 10px), transparent 0) top left / 50% 50%,
        linear-gradient(-45deg, #fb0 0 calc(20% + 5px), transparent 0) bottom right / 50% 50%;
    background-origin: border-box;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    --skewX: 30deg;
    transform: skewX(var(--skewX));
    -webkit-transform: skewX(var(--skewX));
    -moz-transform: skewX(var(--skewX));
    -ms-transform: skewX(var(--skewX));
    -o-transform: skewX(var(--skewX));
}
.imgBox .img img {
    height: 100%;
    object-fit: cover;
    --skewX: -30deg;
    transform: skewX(var(--skewX));
    -webkit-transform: skewX(var(--skewX));
    -moz-transform: skewX(var(--skewX));
    -ms-transform: skewX(var(--skewX));
    -o-transform: skewX(var(--skewX));
}

/* div debajo de la pantalla con las redes sociales */
/* se esconde en el home */
.socials {
    height: 50px;
    width: max-content;
    --translateY: 100px;
    transform: translateY(var(--translateY));
    -webkit-transform: translateY(var(--translateY));
    -moz-transform: translateY(var(--translateY));
    -ms-transform: translateY(var(--translateY));
    -o-transform: translateY(var(--translateY));
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/* simulo la forma de un trapecio */
.socials::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-top: 5px solid #fb0;
    border-left: 2px solid #fb0;
    border-right: 2px solid #fb0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: -1;
    transform: perspective(10px) rotateX(4deg);
    -webkit-transform: perspective(10px) rotateX(4deg);
    -moz-transform: perspective(10px) rotateX(4deg);
    -ms-transform: perspective(10px) rotateX(4deg);
    -o-transform: perspective(10px) rotateX(4deg);
}
/* color de los iconos */
.socials a {
    font-size: 1.2em;
    color: #fb0;
}
/* animación en los iconos */
.socials a:hover,
.socials a:active {
    padding-bottom: 5px;
}

/* botón scroll que se oculta en el home */
.scroll-up__btn.btn {
    --bs-btn-font-size: 1.3em;
    --bs-btn-border-width: 2px;
    right: 0;
    bottom: 0;
    border-bottom-width: 5px;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


@media only screen and (min-width: 576px) {
    .textBox h2 {
        font-size: 2.5em;
    }
}
@media only screen and (min-width: 992px) {
    .textBox h2 {
        font-size: 4em;
    }
    .imgBox .img {
        height: 200px;
        width: 200px;
    }
}