<!---------- CONTACT SECTION ---------->
<section id="contact" class="pt-5">
  <div class="container py-5">
    <div class="row d-flex flex-column align-items-center">
      <div class="col-12 d-flex flex-column align-items-start mb-4">
        <h2 class="reveal">CONTÁCTAME</h2>
        <p class="reveal">
          Puedes escribirme y con gusto te responderé
        </p>
      </div>

      <div class="col-lg-7 col-md-8 col-12">
        <form action="https://formsubmit.co/{{this.person.email}}" method="POST">
          <!-- Name input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="NameInput" 
            name="NameInput" 
            placeholder="Nombre" 
            required>
            <label class="form-label" for="NameInput">Nombre</label>
          </div>
          <!-- Email input -->
          <div class="form-floating mb-4">
            <input type="email" 
            class="form-control" 
            id="EmailInput" 
            name="EmailInput" 
            placeholder="Correo electrónico" 
            required>
            <label class="form-label" for="EmailInput">Correo electrónico</label>
          </div>
          <!-- Subject input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="SubjectInput" 
            name="SubjectInput" 
            placeholder="Asunto" 
            required>
            <label class="form-label" for="SubjectInput">Asunto</label>
          </div>
          <!-- Description input -->
          <div class="form-floating">
            <textarea type="text" 
            class="form-control" 
            rows="4" 
            id="DescInput" 
            name="DescInput" 
            placeholder="Escribe aquí" 
            required></textarea>
            <label class="form-label" for="DescInput">Escribe aquí</label>
          </div>
          <hr>
          <button class="text-nobreak btn btn-primary d-inline-flex align-items-center p-3" type="submit">
            Enviar Mensaje <i class="bi bi-send fs-5 mx-2"></i>
          </button>

          <!-- <input type="hidden" name="_next" value="{{this.environment}}">
          <input type="hidden" name="_captcha" value="false"> -->
        </form>
      </div>
    </div>

    <footer class="d-flex justify-content-center mt-5">
      <p>
        Página hecha por 
        <a href="#home">{{this.person.name}} {{this.person.lastName}}</a><br>
        Fondo: <a href="https://www.freepik.com/free-vector/destroyed-buildings-city-street-after-war-natural-disaster-night-vector-parallax-background-with-cartoon-cityscape-with-abandoned-broken-houses-with-smoke-cracked-road-moon-sky_21087605.htm">Destroyed city vector</a> por <a href="https://www.freepik.com/author/upklyak">upklyak</a>
      </p>
    </footer>
  </div>
</section>
