<!---------- CONTACT SECTION ---------->
<section id="contact" class="position-relative bg-body overflow-hidden pt-5">
  <div class="container py-5">
    <div class="row d-flex flex-column align-items-center">
      <div class="col-12 mb-4">
        <div class="mb-3">
          <h2>CONTÁCTAME</h2>
          <div class="title-span bg-warning rounded"></div>
        </div>
        <p>Puedes escribirme y con gusto te responderé</p>
      </div>

      <div class="col-lg-7 col-md-8 col-12">
        <form id="contact-form" #f="ngForm" (ngSubmit)="onMailTo()" novalidate *ngIf="this.appComponent.person != null">
          <!-- Name input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="NameInput" 
            placeholder="Nombre" 
            [(ngModel)]="this.name" 
            required>
            <label class="form-label" for="NameInput">Nombre</label>
          </div>
          <!-- Email input -->
          <div class="form-floating mb-4">
            <input type="email" 
            class="form-control" 
            name="EmailInput" 
            placeholder="Correo electrónico" 
            [(ngModel)]="this.email" 
            required>
            <label class="form-label" for="EmailInput">Correo electrónico 
              <span class="email-label-span">({{this.appComponent.person.email}})</span>
            </label>
          </div>
          <!-- Subject input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="SubjectInput" 
            placeholder="Asunto" 
            [(ngModel)]="this.subject" 
            required>
            <label class="form-label" for="SubjectInput">Asunto</label>
          </div>
          <!-- Description input -->
          <div class="form-floating">
            <textarea type="text" 
            class="form-control" 
            rows="4" 
            name="DescInput" 
            placeholder="Escribe aquí" 
            [(ngModel)]="this.desc" 
            required></textarea>
            <label class="form-label" for="DescInput">Escribe aquí</label>
          </div>
          <hr>
          <button class="text-nobreak btn btn-primary d-inline-flex align-items-center p-3" type="submit">
            Enviar Mensaje <i class="bi bi-send fs-5 mx-2"></i>
          </button>
        </form>

        <!-- LAZY LOADING PLACEHOLDER -->
        <div *ngIf="this.appComponent.person == null">
          <input class="form-control mb-4" type="text" disabled *ngFor="let i of ['', '', '']">
          <a class="btn btn-primary col-3 placeholder disabled p-3" role="button"></a>
        </div>
      </div>
    </div>
  </div>
</section>
