/* ---------- CONTACT SECTION ---------- */
.email-label-span {
  color: var(--text-color);
}

footer a {
  color: var(--first-color);
}

.bi-send {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
