<div class="modal fade modal-dialog-scrollable vh-100" 
id="editEd" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="editEdLabel" aria-hidden="true" *ngIf="edu">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editEdLabel">Modificar educación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
        <div class="modal-body">
          <!-- Title input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="edNameInput" 
            name="edNameInput" 
            placeholder="Título" 
            [(ngModel)]="edu.edName" 
            required>
            <label for="edNameInput">Título</label>
          </div>
          <!-- Description input -->
          <div class="form-floating">
            <input type="text" 
            class="form-control" 
            id="edDescInput" 
            name="edDescInput" 
            placeholder="Descripción" 
            [(ngModel)]="edu.edDesc" 
            required>
            <label for="edDescInput">Descripción</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
