<div class="modal fade modal-dialog-scrollable vh-100" 
id="editEd" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="editEdLabel" aria-hidden="true" *ngIf="educationComponent.ed">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editEdLabel">Modificar educación</h1>
        <button type="button" class="btn-close lh-1 fs-5" data-bs-dismiss="modal" aria-label="Close" (click)="educationComponent.onClean()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
        <div class="modal-body">
          <!-- Institute title input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="edInsTitleInput" 
            placeholder="Instituto" 
            [(ngModel)]="educationComponent.ed.edInsTitle" 
            required>
            <label class="form-label" for="edInsTitleInput">Instituto</label>
          </div>
          <!-- Carrer name input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="edCareerNameInput" 
            placeholder="Carrera" 
            [(ngModel)]="educationComponent.ed.edCareerName" 
            required>
            <label class="form-label" for="edCareerNameInput">Carrera</label>
          </div>
          <!-- Description input -->
          <div class="form-floating mb-4">
            <textarea type="text" 
            class="form-control" 
            name="edDescInput" 
            placeholder="Descripción" 
            [(ngModel)]="educationComponent.ed.edDesc" 
            required></textarea>
            <label class="form-label" for="edDescInput">Descripción</label>
          </div>
          <!-- Period input -->
          <div class="form-floating">
            <input type="text" 
            class="form-control" 
            name="edPeriodInput" 
            placeholder="Periodo de tiempo" 
            [(ngModel)]="educationComponent.ed.edPeriod" 
            required>
            <label class="form-label" for="edPeriodInput">Periodo de tiempo</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="educationComponent.onClean()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
