<!---------- ABOUT SECTION ---------->
<section id="about" class="pt-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-start mb-4">
        <h2 class="reveal d-inline-block">SOBRE MÍ</h2>
        <p>
          Soy un joven de 19 años apasionado por la programación. Desde que me introduje en el desarrollo web en el 2021 supe que esto era lo que quería.
        </p>
      </div>
      <div class="col-md-6 col-12" 
      [ngClass]="{'mb-md-0 mb-4': f}" 
      *ngFor="let column of ['Experiencia laboral', 'Educación']; first as f">
        <h2 class="reveal second d-inline-block mb-3">{{column}}</h2>
        <div class="row experience-data" *ngFor="let exp of (f? laboral : education)">
          <div class="col-1 d-flex flex-column align-items-center p-0 mb-4">
            <div class="rounder"></div>
            <div class="line"></div>
          </div>
          <div class="col-11">
            <h5>{{exp.title}}</h5>
            <p>{{exp.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
