.timeline {
  --tl-rounded: 0.875rem;
  --tl-line: 0.125rem;
}

.rounder {
  display: block;
  height: var(--tl-rounded);
  width: var(--tl-rounded);
  border: var(--tl-line) solid var(--first-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.line {
  display: block;
  height: calc(100% - var(--tl-rounded));
  width: var(--tl-line);
  background-color: var(--first-color);
}

.card-data {
  padding-left: 0.75rem;
}
