<!---------- ABOUT SECTION ---------->
<section id="about" class="position-relative bg-body overflow-hidden pt-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="mb-3">
          <h2>SOBRE MÍ</h2>
          <div class="title-span bg-warning rounded"></div>
        </div>
        <p *ngIf="this.appComponent.person != null">{{this.appComponent.person.description}}</p>

        <!---------- LAZY LOADING PLACEHOLDER ---------->
        <p *ngIf="this.appComponent.person == null">
          <span class="placeholder col-12"></span>
          <span class="placeholder col-4"></span>
        </p>
      </div>
      
      <app-experience class="col-md-6 col-12 mb-md-0 mb-4"></app-experience>
      <app-education class="col-md-6 col-12"></app-education>
    </div>
  </div>
</section>
