<div class="modal fade modal-dialog-scrollable vh-100" 
id="newFrontSkill" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="newFrontSkillLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newFrontSkillLabel">Nueva habilidad en Frontend</h1>
        <button type="button" class="btn-close lh-1 fs-5" data-bs-dismiss="modal" aria-label="Close" (click)="this.frontSkillComponent.onClean()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
        <div class="modal-body">
          <!-- Name input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="frontskillPercentageInput" 
            placeholder="Habilidad" 
            [(ngModel)]="this.frontSkillComponent.frontSkill.name" 
            required>
            <label class="form-label" for="frontskillNameInput">Habilidad</label>
          </div>
          <!-- Percentage input -->
          <label class="form-label me-2" for="skillPercentageInput">
            Progreso: {{this.frontSkillComponent.frontSkill.percentage}}%
          </label>
          <input type="range" min="0" max="100" 
          class="form-range" 
          name="skillPercentageInput" 
          [(ngModel)]="this.frontSkillComponent.frontSkill.percentage" 
          required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.frontSkillComponent.onClean()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
