<div class="modal fade modal-dialog-scrollable vh-100" 
id="settings" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="settingsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="settingsLabel">Configuración</h1>
        <button type="button" class="btn-close lh-1 fs-5" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3" *ngIf="tokenService.isLoggedIn() && appComponent.colors">
          <!-- Hue primary input -->
          <label class="form-label me-2" for="firstColorInput">
            Color primario: {{appComponent.colorsEdit.firstColor}}
          </label>
          <input type="range" min="0" max="360" 
          class="form-range" 
          name="firstColorInput" 
          [(ngModel)]="appComponent.colorsEdit.firstColor" 
          (change)="appComponent.onChangeColor('--hue-color', appComponent.colorsEdit.firstColor); onUpdateColor()" 
          required>
          <!-- Hue secondary input -->
          <div class="d-flex flex-wrap align-items-center">
            <label class="form-label mb-0 me-2" for="secondColorInput">Color secundario: </label>
            <input type="color" class="form-control form-control-color" 
            value="{{appComponent.colorsEdit.secondColor}}" 
            name="secondColorInput" title="Elige un color" 
            [(ngModel)]="appComponent.colorsEdit.secondColor" 
            (change)="appComponent.onChangeColor('--second-color', appComponent.colorsEdit.secondColor); appComponent.onChangeColor('--box-shadow-second-color', appComponent.colorsEdit.secondColor + 80); onUpdateColor()" 
            required>
          </div>
        </div>
        <!-- Theme -->
        <select class="form-select mb-3" aria-label="Theme" 
        [(ngModel)]="value" (change)="appComponent.onDarkMode(value)">
          <option selected value="">Tema</option>
          <option value="light">Claro</option>
          <option value="dark">Oscuro</option>
          <option value="">Sistema</option>
        </select>

        <button type="button" class="btn btn-primary float-end text-nowrap text-nobreak" 
        data-bs-toggle="modal" data-bs-target="#login" 
        *ngIf="!tokenService.isLoggedIn()">Iniciar sesión</button>
        <button type="button" class="btn btn-primary float-end text-nowrap text-nobreak" 
        *ngIf="tokenService.isLoggedIn()" 
        (click)="tokenService.logOut()">Cerrar sesión</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<app-login></app-login>
