<footer class="position-relative overflow-hidden pt-5">
  <div class="container py-5">
    <p *ngIf="this.mainComponent.person != null">
      Página hecha por <a href="#home">{{this.mainComponent.person.name}} {{this.mainComponent.person.lastName}}</a>
    </p>
    <p>
      Fondo: <a href="https://www.freepik.com/free-vector/destroyed-buildings-city-street-after-war-natural-disaster-night-vector-parallax-background-with-cartoon-cityscape-with-abandoned-broken-houses-with-smoke-cracked-road-moon-sky_21087605.htm" target="_blank">Destroyed city vector</a> hecho por <a href="https://www.freepik.com/author/upklyak" target="_blank">upklyak</a>
    </p>
  </div>
</footer>
