<!---------- NAVBAR ---------->
<nav class="navbar navbar-expand-md fixed-top user-select-none p-0">
  <div class="container-fluid align-items-start px-2">
    <a class="nav-logo position-relative w-100" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
      <img class="position-absolute" src="../../../assets/img/argproglogo.png" alt="argpprog">
    </a>

    <button class="navbar-toggler border-0 m-2 ms-auto p-1" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar" aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon lh-1">
        <i class="bi bi-list"></i>
      </span>
    </button>

    <button type="button" class="nav-button btn btn-primary order-md-3 lh-1 fs-5 p-2 p-md-3 my-auto mb-md-0" data-bs-toggle="modal" data-bs-target="#settings">
      <i class="bi bi-gear"></i>
    </button>

    <div class="collapse navbar-collapse order-md-2" id="menuNavbar">
      <ul class="navbar-nav justify-content-center align-items-center pb-3 pb-md-0 px-md-5 w-100">
        <li class="nav-item w-100" 
        *ngFor="let link of appComponent.sections">
          <a class="nav-link btn btn-dark d-flex rounded-0 fw-semibold p-0 w-100" href="#{{link.id}}">
            <span class="text-nobreak mt-2 mt-md-auto ms-2 mx-md-auto mb-1 mb-md-0">{{link.name}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-settings></app-settings>
