// ========== IMPORTS ==========
@import "../../../../node_modules/bootstrap/scss/mixins";

// ========== ESTILOS ==========
.nav-logo,
.nav-logo img {
  max-width: 80px;
}

// ========== ITEMS DEL NAV ==========
.navbar-nav {
  gap: 2px;
}

.nav-link {
  font-size: 1.3rem;
  color: #b0b0b0;
  border-color: #b0b0b0;
  border-width: 0;
  border-left-width: 6px;
  
  &:hover {
    border-color: #fff;
  }

  &.active {
    --bs-btn-bg-gradient: rgba(103, 35, 35, 0.8);
    --bs-btn-bg: rgba(168, 5, 5, 0.8);
    --bs-btn-hover-bg-gradient: rgba(113, 35, 35, 0.8);
    --bs-btn-hover-bg: rgba(189, 10, 10, 0.8);
    --bs-btn-active-bg: rgba(113, 35, 35, 0.8);
    color: #fff;
    border-color: #ff4f1f;
    @include gradient-y(
      var(--bs-btn-bg-gradient),
      var(--bs-btn-bg)
    );

    &:hover {
      border-color: #ff742e;
      @include gradient-y(
        var(--bs-btn-hover-bg-gradient),
        var(--bs-btn-hover-bg)
      );
    }

    &:active {
      @include gradient-y(
        var(--bs-btn-active-bg),
        var(--bs-btn-active-bg)
      );
    }
  }

  span {
    font-family: 'Rajdhani', sans-serif;
    text-transform: capitalize;
  }
}

.dropdown-menu li+li {
  margin-top: 0.125rem;
}

// ========== MEDIA QUERIES ==========
// estilos para pantallas más grandes
@media only screen and (min-width: 992px) {
  .nav-logo,
  .nav-logo img {
    max-width: 90px;
  }

  // transformo los nav-item en paralelogramos
  .navbar-navigation {
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    
    .nav-link {
      height: 60px;
      max-width: 145px;
      border-left-width: 0;
      border-bottom-width: 6px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      
      span {
        text-transform: uppercase;
        transform: skewX(-45deg);
        -webkit-transform: skewX(-45deg);
        -moz-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        -o-transform: skewX(-45deg);
      }
  
      &::before {
        position: absolute;
        content: '';
        top: calc(100% + 6px);
        left: 0;
        display: block;
        height: 25px;
        width: 100%;
        pointer-events: none;
        @include gradient-y(
          var(--bs-btn-bg),
          transparent,
          0%,
          100%
        );
      }
  
      &:hover{
        &::before {
          @include gradient-y(
            var(--bs-btn-hover-bg),
            transparent,
            0%,
            100%
          );
        }
      }
  
      &:active{
        &::before {
          @include gradient-y(
            var(--bs-btn-active-bg),
            transparent,
            0%,
            100%
          );
        }
      }
    }
  }
}
