/* ---------- MOBILE ---------- */
/* oculto los elementos del header para animación */
.nav-logo img,
.navbar-toggler,
.nav-link {
  transform: translateY(-200px);
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  -o-transform: translateY(-200px);
}

.nav-logo img,
.navbar-toggler {
  z-index: 10000;
}

.nav-logo,
.nav-logo img {
  max-width: 80px;
}

.offcanvas {
  --bs-offcanvas-width: 200px;
  background-color: var(--bs-body-bg);
}

.navbar-nav {
  gap: 5px 2px;
}


/* ---------- HIJOS NAV-ITEM ---------- */
/* configuro el tamaño de los nav-link */
.nav-item,
.nav-link {
  width: 100%;
}

/* cambio los valores de las variables provistas por bootstrap */
/* demas estilos a los nav-link */
.nav-link {
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0;
  border-width: 0;
  border-left-width: 6px;
  backdrop-filter: blur(10px);
  transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-link span {
  font-family: 'Rajdhani', sans-serif;
  text-transform: capitalize;
}


/* ----------  MENU BUTTON ---------- */
/* contenedor del boton menu hamburguesa */
.navbar-toggler {
  height: 40px;
  width: 40px;
}

/* preparo los elementos para darles forma */
.navbar-toggler span::before,
.navbar-toggler span,
.navbar-toggler span::after {
  position: absolute;
  height: 2px;
  background-color: var(--title-color);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transform: translateY(var(--translateY)) rotate(var(--rotate));
  -webkit-transform: translateY(var(--translateY)) rotate(var(--rotate));
  -moz-transform: translateY(var(--translateY)) rotate(var(--rotate));
  -ms-transform: translateY(var(--translateY)) rotate(var(--rotate));
  -o-transform: translateY(var(--translateY)) rotate(var(--rotate));
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* por defecto tiene estilo menú hamburguesa */
.navbar-toggler span::before,
.navbar-toggler span::after {
  content: '';
  --translateY: -10px;
  --rotate: 0;
  right: 0;
  width: 16px;
}
.navbar-toggler span {
  width: 24px;
}
.navbar-toggler span::after {
  --translateY: 10px;
  width: 8px;
}

/* cuando el menú no se muestra es una X */
.offcanvas[role] ~ .navbar-toggler span::before,
.offcanvas[role] ~ .navbar-toggler span::after {
  --translateY: 0;
  --rotate: 45deg;
  width: 100%;
  transition-delay: 0.125s;
}
.offcanvas[role] ~ .navbar-toggler span {
  background-color: transparent;
}
.offcanvas[role] ~ .navbar-toggler span::after {
  --rotate: 315deg;
  transition-delay: 0.25s;
}


/* ---------- MEDIA QUERIES ---------- */
/* estilos para pantallas más grandes */
@media only screen and (min-width: 768px) {
  .nav-logo,
  .nav-logo img {
    max-width: 90px;
  }

  /* transformo los nav-item en paralelogramos */
  .nav-item {
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
  }
  /* corrijo la forma del texto, ya que este también se deforma */
  .nav-item span {
    transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
  }

  /* cambio el tamaño de los nav-link */
  .nav-item,
  .nav-link {
    height: 60px;
    max-width: 145px;
  }

  /* cambio bordes */
  .nav-link {
    border-width: 0;
    border-bottom-width: 6px;
  }

  .nav-link span {
    text-transform: uppercase;
  }
  
  /* efecto de luz debajo de los nav-link */
  .nav-link::before {
    position: absolute;
    content: '';
    top: calc(100% + 6px);
    left: 0;
    display: block;
    height: 25px;
    width: 100%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      var(--bs-btn-bg) 0%,
      transparent 100%
    );
  }
  .nav-link:hover::before {
    background-image: linear-gradient(
      to bottom,
      var(--bs-btn-hover-bg) 0%,
      transparent 100%
    );
  }
  .nav-link:active::before {
    background-image: linear-gradient(
      to bottom,
      var(--bs-btn-active-bg) 0%,
      transparent 100%
    );
  }
}
