/* ---------- MOBILE ---------- */
.nav-logo,
.nav-logo img {
  max-width: 80px;
  z-index: 10000;
}


/* ---------- NAV-ITEM ---------- */
.nav-link {
  font-size: 1.3rem;
  border-width: 0;
  border-left-width: 6px;
  backdrop-filter: blur(10px);
  transition: color 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
}
.nav-link.active {
  color: #fff;
}

.nav-link span {
  font-family: 'Rajdhani', sans-serif;
  text-transform: capitalize;
}


/* ----------  MENU BUTTON ---------- */
/* contenedor del boton menu hamburguesa */
.navbar-toggler-icon {
  height: 32px;
  width: 32px;
  font-size: 2rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--box-shadow-color);
}


/* ---------- MEDIA QUERIES ---------- */
/* estilos para pantallas más grandes */
@media only screen and (min-width: 768px) {
  .navbar {
    background-image: none;
  }
  
  .nav-logo,
  .nav-logo img {
    max-width: 90px;
  }

  /* transformo los nav-item en paralelogramos */
  .nav-item {
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
  }
  /* corrijo la forma del texto, ya que este también se deforma */
  .nav-item span {
    transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
  }

  /* cambio el tamaño de los nav-link */
  .nav-item,
  .nav-link {
    height: 60px;
    max-width: 145px;
  }

  /* cambio bordes */
  .nav-link {
    border-left-width: 0;
    border-bottom-width: 6px;
  }

  .nav-link span {
    text-transform: uppercase;
  }
  
  /* efecto de luz debajo de los nav-link */
  .nav-link::before {
    position: absolute;
    content: '';
    top: calc(100% + 6px);
    left: 0;
    display: block;
    height: 25px;
    width: 100%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      var(--bs-btn-bg) 0%,
      transparent 100%
    );
  }
  .nav-link:hover::before {
    background-image: linear-gradient(
      to bottom,
      var(--bs-btn-hover-bg) 0%,
      transparent 100%
    );
  }
  .nav-link:active::before {
    background-image: linear-gradient(
      to bottom,
      var(--bs-btn-active-bg) 0%,
      transparent 100%
    );
  }
}
