<!---------- NAVBAR ---------->
<nav class="navbar navbar-expand-md fixed-top user-select-none p-0">
  <div class="container-fluid align-items-start px-2">
    <div class="nav-logo position-relative w-100">
      <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
        <img class="position-absolute" src="../../../assets/img/argproglogo.png" alt="argpprog">
      </a>
    </div>

    <button class="navbar-toggler border-0 m-2 ms-auto p-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon lh-1">
        <i class="bi bi-list"></i>
      </span>
    </button>

    <div class="offcanvas offcanvas-end bg-body" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <button type="button" class="btn-close lh-1 fs-5 ms-auto" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="offcanvas-body d-flex flex-column flex-md-row">
        <ul class="navbar-nav justify-content-center align-items-start gap-1 px-md-5 h-100 w-100">
          <li class="nav-item w-100" 
          *ngFor="let link of this.appComponent.sections">
            <a class="nav-link btn btn-dark d-flex rounded-0 fw-semibold p-0 w-100" href="#{{link.id}}">
              <span class="text-nobreak mt-2 mt-md-auto ms-2 mx-md-auto mb-1 mb-md-0">{{link.name}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    <button type="button" 
    class="btn btn-primary btn-settings d-flex flex-column align-self-end lh-1 fs-5 p-2 p-md-3 my-auto mb-md-0" 
    data-bs-toggle="modal" data-bs-target="#settings"><i class="bi bi-gear"></i></button>
  </div>
</nav>

<app-settings></app-settings>
