/* ---------- MOBILE ---------- */
.navbar {
  background-image: linear-gradient(
    to bottom,
    var(--bs-body-bg) 25%,
    transparent 100%
  );
}

.nav-logo,
.nav-logo img {
  max-width: 80px;
  z-index: 10000;
}

.offcanvas {
  width: 200px;
  background-color: var(--bs-body-bg);
}

.navbar-nav {
  gap: 5px 2px;
}


/* ---------- HIJOS NAV-ITEM ---------- */
/* configuro el tamaño de los nav-link */
.nav-item,
.nav-link {
  width: 100%;
}

/* cambio los valores de las variables provistas por bootstrap */
/* demas estilos a los nav-link */
.nav-link {
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0;
  border-width: 0;
  border-left-width: 6px;
  backdrop-filter: blur(10px);
  transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-link span {
  font-family: 'Rajdhani', sans-serif;
  text-transform: capitalize;
}


/* ----------  MENU BUTTON ---------- */
/* contenedor del boton menu hamburguesa */
.navbar-toggler-icon {
  height: 32px;
  width: 32px;
}


/* ---------- MEDIA QUERIES ---------- */
/* estilos para pantallas más grandes */
@media only screen and (min-width: 768px) {
  .navbar {
    background-image: none;
  }
  
  .nav-logo,
  .nav-logo img {
    max-width: 90px;
  }

  /* transformo los nav-item en paralelogramos */
  .nav-item {
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
  }
  /* corrijo la forma del texto, ya que este también se deforma */
  .nav-item span {
    transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
  }

  /* cambio el tamaño de los nav-link */
  .nav-item,
  .nav-link {
    height: 60px;
    max-width: 145px;
  }

  /* cambio bordes */
  .nav-link {
    border-width: 0;
    border-bottom-width: 6px;
  }

  .nav-link span {
    text-transform: uppercase;
  }
  
  /* efecto de luz debajo de los nav-link */
  .nav-link::before {
    position: absolute;
    content: '';
    top: calc(100% + 6px);
    left: 0;
    display: block;
    height: 25px;
    width: 100%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      var(--bs-btn-bg) 0%,
      transparent 100%
    );
  }
  .nav-link:hover::before {
    background-image: linear-gradient(
      to bottom,
      var(--bs-btn-hover-bg) 0%,
      transparent 100%
    );
  }
  .nav-link:active::before {
    background-image: linear-gradient(
      to bottom,
      var(--bs-btn-active-bg) 0%,
      transparent 100%
    );
  }
}
