/* ---------- PARALLAX BACKGROUND --------- */

.banner {
  top: 0;
  left: 0;
  background-color: #2e125f;
  background-image: linear-gradient(
    to bottom,
    #2e125f 0%,
    #2d4b91 10%,
    #4b93c8 50%,
    #8be3fd 60%
  );
}
.banner::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to top, var(--bs-body-bg) 0%, transparent 100%);
}

.parallax {
  left: 0;
  bottom: 0;
  object-fit: cover;
}
.moon,
.smoke {
  mix-blend-mode: screen;
}
