<app-navbar></app-navbar>

<div class="banner position-absolute h-100 w-100 overflow-hidden user-select-none">
  <div class="parallax-container position-relative h-100 w-100">
    <img class="parallax stars position-absolute d-block h-100 w-100" src="../../../assets/img/bg/stars.png"
      alt="stars">

    <img class="parallax moon position-absolute d-block h-100 w-100" src="../../../assets/img/bg/moon.png" alt="moon">

    <img class="parallax shadow position-absolute d-block h-100 w-100" src="../../../assets/img/bg/shadow.png"
      alt="shadow">

    <img class="parallax building position-absolute d-block h-100 w-100" src="../../../assets/img/bg/building.png"
      alt="building">

    <img class="parallax smoke position-absolute d-block h-100 w-100" src="../../../assets/img/bg/smoke.png"
      alt="smoke">

    <img class="parallax road position-absolute d-block h-100 w-100" src="../../../assets/img/bg/road.png" alt="road">
  </div>
</div>
