<nav class="navbar navbar-dark navbar-expand-lg fixed-top p-0 user-select-none">
  <!---------- NAV CONTAINER ---------->
  <div class="container-fluid align-items-start">
    <!---------- ARGPROG LOGO ---------->
    <div class="nav-logo position-relative w-100">
      <img class="position-absolute" src="../../../assets/img/argprog.png" alt="argpprog">
    </div>

    <!---------- OFFCANVAS ---------->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-body pt-5 pt-lg-0">
        <ul class="navbar-nav mx-auto py-lg-0 py-5 px-4 gap-1 justify-content-center align-items-center">
          <li class="nav-item">
            <a class="nav-link btn btn-secondary d-flex p-0" href="#about">
              <span class="mt-auto mx-auto">about</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary d-flex p-0" href="#experience">
              <span class="mt-auto mx-auto">experience</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary d-flex p-0" href="#skills">
              <span class="mt-auto mx-auto">skills</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary d-flex p-0" href="#proyects">
              <span class="mt-auto mx-auto">proyects</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary d-flex p-0" href="#contact">
              <span class="mt-auto mx-auto">contact</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary d-flex p-0 active" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="mt-auto mx-auto">log in</span></a>
          </li>
        </ul>
        <div class="nav-logo">
          <img class="position-relative d-lg-block d-none w-100" src="../../../assets/img/inti.png" alt="inti">
        </div>
      </div>
    </div>

    <!---------- TOGGLER BUTTON ---------->
    <button class="navbar-toggler my-2 p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="translate-middle"></span>
    </button>
  </div>
</nav>

<!-------- MODAL -------->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        Eaque quas culpa facere illo unde sed eligendi. Debitis esse sunt temporibus adipisci ad dolorum illo et laboriosam neque iusto consequatur consequuntur excepturi provident ipsam, impedit nulla vel voluptatum sapiente!
        Nemo ad numquam eligendi facilis mollitia voluptatem minima tempora. Deleniti modi, perspiciatis quasi laboriosam perferendis error voluptatum eum nam quaerat illo unde quos, exercitationem at excepturi ab voluptas, harum nobis.
        Nemo, sapiente quos quia dolorem officia nulla voluptatum animi repellat. Distinctio error molestias iste nostrum quam quod vel animi, ipsum, dicta quis ut voluptatem porro sequi natus officia aperiam laboriosam.
        Culpa iusto enim provident nam sint iure nesciunt tempora, repellendus molestias sequi voluptates a velit? Labore odit nesciunt cumque, maxime tempore laudantium, tenetur dolor fugit eaque natus aliquam itaque ab?
        Magnam eos fuga molestias quasi quis iusto in aperiam cumque atque, illo consequatur quibusdam, alias rerum explicabo. Quia commodi odit repellendus incidunt impedit dolore? Maxime sapiente in temporibus soluta ut.
        Quos ex quam quidem tempore impedit libero, ratione aliquam deserunt laboriosam fugiat expedita voluptatibus iure aliquid neque obcaecati eum in recusandae ullam ipsa natus dolorem earum accusantium accusamus ut. Autem!
        Porro nisi ipsa distinctio provident nihil ad repellendus at exercitationem quas dicta doloremque, pariatur harum ducimus ullam, eos, totam nulla dolore molestiae alias voluptatum architecto! Dolor sed labore reiciendis quos.
        Sit adipisci dicta architecto asperiores dolore voluptatem provident dolores. Cupiditate ab accusantium corporis! Distinctio tempora ipsum ex eveniet quam iusto, porro excepturi inventore officiis ad impedit eius voluptatum maiores vel?
        Maxime nesciunt eaque dolores debitis placeat vel? Repudiandae, cumque? Reprehenderit, ipsum! Odit, consectetur quae? Iusto qui laborum voluptate voluptatibus cumque dolore exercitationem saepe animi vero ipsam. Quisquam nobis fuga laudantium?
        Culpa quas debitis quo beatae, eos rem recusandae unde aspernatur asperiores sapiente voluptate mollitia expedita nihil officiis pariatur error, quaerat provident earum velit porro id similique aliquid! Facilis, porro nulla.
        Eligendi, impedit praesentium quos voluptatem, vero accusamus nulla velit deserunt porro nostrum perspiciatis consequatur numquam facilis? Beatae quo quia quas esse, nihil sunt animi ab quos in, reprehenderit accusantium est.
        Consequuntur quasi sint ducimus ut velit facilis earum error? Iure accusamus quis vitae, recusandae aliquam eius accusantium voluptate delectus, omnis reiciendis eligendi debitis, repellendus neque maiores odit tempore minima adipisci!
        Animi corrupti quo libero ipsa in quae, at veritatis autem non harum cum. Cumque, velit? Ut quibusdam excepturi dolorum alias cupiditate. Sed sequi perspiciatis voluptatum unde consectetur, voluptatibus architecto dolores.
        Labore modi ab dicta ut molestias? Optio modi repudiandae, repellendus consequuntur nulla explicabo assumenda. Dolore est repellat rem perferendis vero, qui sit molestias, in atque nostrum accusantium deleniti culpa mollitia!
        Repellat repellendus illum voluptate laboriosam soluta dolor voluptates architecto velit iure sapiente est mollitia maxime saepe, qui quae autem in delectus alias, voluptas similique atque. Qui alias atque cum totam.
        Provident, incidunt. Ducimus explicabo ab delectus aspernatur asperiores quidem qui provident velit quia, numquam quaerat laboriosam recusandae quisquam fugiat vero? Odit laudantium culpa voluptates illum voluptatum necessitatibus a adipisci veniam.
        Accusantium esse obcaecati laborum! Et consequatur neque aliquid eos accusantium dolorem officia voluptatum autem totam voluptates dignissimos repellendus aperiam, sed, tempora enim ex error. Neque quibusdam tenetur autem delectus quo.
        Alias in vel distinctio eum adipisci autem recusandae, modi voluptas, illo quam nulla sit aperiam tempore veniam amet a voluptatibus! Quaerat expedita maxime sequi quis repellat qui, deserunt cupiditate delectus.
        Reiciendis expedita ipsa nihil, officia nemo explicabo laudantium dignissimos magni reprehenderit sapiente repudiandae, ex minus animi unde sunt tempore blanditiis corporis modi libero debitis amet velit. Sapiente minus corrupti animi.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
