<div class="modal fade modal-dialog-scrollable vh-100" 
id="editExp" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="editExpLabel" aria-hidden="true" *ngIf="this.experienceComponent.exp">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editExpLabel">Modificar experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
        <div class="modal-body">
          <!-- Company name input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="expCompNameInput" 
            name="expCompNameInput" 
            placeholder="Compañía o empresa" 
            [(ngModel)]="this.experienceComponent.exp.expCompName" 
            required>
            <label class="form-label" for="expCompNameInput">Compañía o empresa</label>
          </div>
          <!-- Job title input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="expJobTitleInput" 
            name="expJobTitleInput" 
            placeholder="Puesto" 
            [(ngModel)]="this.experienceComponent.exp.expJobTitle" 
            required>
            <label class="form-label" for="expJobTitleInput">Puesto</label>
          </div>
          <!-- Description input -->
          <div class="form-floating mb-4">
            <textarea type="text" 
            class="form-control" 
            id="expDescInput" 
            name="expDescInput" 
            placeholder="Descripción" 
            [(ngModel)]="this.experienceComponent.exp.expDesc" 
            required></textarea>
            <label class="form-label" for="expDescInput">Descripción</label>
          </div>
          <!-- Period input -->
          <div class="form-floating">
            <input type="text" 
            class="form-control" 
            id="expPeriodInput" 
            name="expPeriodInput" 
            placeholder="Periodo de tiempo" 
            [(ngModel)]="this.experienceComponent.exp.expPeriod" 
            required>
            <label class="form-label" for="expPeriodInput">Periodo de tiempo</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
