<section id="home" class="pt-5">
  <img class="parallax {{img.alt}} position-absolute d-block h-100 w-100" 
  *ngFor="let img of parallax" 
  src="{{img.url}}" 
  alt="{{img.alt}}">
  
  <div class="container">
    <div class="row">
      <div class="person-col col-md-8 col-12 mb-md-0 mb-4">
        <h1 class="display-4 fw-semibold">
          ¡Hola! Soy<br>
          <span class="fw-bolder">{{person.name}} {{person.lastName}}</span>
        </h1>

        <div class="d-flex align-items-center p mb-2">
          <p class="h6 m-0">Un Desarrollador Full Stack Jr.</p>
          <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1 ms-2" 
          data-bs-toggle="modal" data-bs-target="#editPerson" 
          *ngIf="this.tokenService.isLoggedIn()" (click)="this.id = person.id; this.onDetail()">
            <i class="bi bi-pencil-square"></i>
          </button>
        </div>

        <a href="{{person.cv}}" class="text-nobreak btn btn-primary d-inline-flex align-items-center p-3">
          Descargar CV <i class="bi bi-download btn-icon fs-5 ms-2"></i>
        </a>
      </div>
      <div class="col-md-4 col-12 d-flex justify-content-center align-items-center">
        <div class="imgBox d-flex justify-content-center align-items-end">
          <img src="{{person.img}}" alt="Martín Sepúlveda" class="h-100">
        </div>
      </div>
    </div>
  </div>
</section>

<app-edit-home></app-edit-home>
<app-about></app-about>
