/* ---------- PARALLAX BACKGROUND --------- */
#home {
  background-color: #2e125f;
  background-image: linear-gradient(
    to bottom,
    #2e125f 0%,
    #2d4b91 10%,
    #4b93c8 50%,
    #8be3fd 60%
  );
}
#home::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to top, var(--bs-body-bg) 0%, transparent 100%);
}

.parallax {
  left: 0;
  bottom: 0;
  object-fit: cover;
  user-select: none;
}
.moon,
.smoke {
  mix-blend-mode: screen;
}


/* ---------- H1 & IMGBOX ---------- */
#home h1, #home p, #home .bi-pencil-square  {
  text-shadow: 2px 2px 2px hsl(0, 0%, 20%);
}
#home .bi-pencil-square  {
  transition: text-shadow 0.15s;
  -webkit-transition: text-shadow 0.15s;
  -moz-transition: text-shadow 0.15s;
  -ms-transition: text-shadow 0.15s;
  -o-transition: text-shadow 0.15s;
}
#home .btn-outline-light:hover .bi-pencil-square  {
  text-shadow: none;
}

#home h1 span {
  color: var(--second-color);
}

.imgBox {
  height: 150px;
  width: 150px;
}

#home h1, #home p, .imgBox {
  opacity: 0;
  transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  -moz-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  -o-transform: translateX(-150px);
}

/* transformo el fondo de la foto en un paralelogramo */
.imgBox::before,
.imgBox::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 70%;
  width: 100%;
  background-color: var(--second-color);
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  -webkit-border-radius: 2rem 0.5rem 2rem 0.5rem;
  -moz-border-radius: 2rem 0.5rem 2rem 0.5rem;
  -ms-border-radius: 2rem 0.5rem 2rem 0.5rem;
  -o-border-radius: 2rem 0.5rem 2rem 0.5rem;
  z-index: -1;
  transform: skewX(40deg);
  -webkit-transform: skewX(40deg);
  -moz-transform: skewX(40deg);
  -ms-transform: skewX(40deg);
  -o-transform: skewX(40deg);
}
.imgBox::after {
  border: 2px solid var(--second-color);
  background-color: transparent;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
.imgBox:hover::after {
  left: -5px;
  bottom: -10px;
}


/* ---------- MEDIA QUERIES ---------- */
/* estilo para pantallas grandes */
@media only screen and (min-width: 768px) {
  .imgBox {
    height: 200px;
    width: 200px;
  }
}
