/* ---------- SOCIALS ---------- */
.socials-widget-container {
  pointer-events: none;
  z-index: 10;
}
.socials-widget {
  pointer-events: auto;
}
/* simulo la forma de un trapecio */
.socials-widget::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-top: 5px solid var(--second-color);
  border-left: 2px solid var(--second-color);
  border-right: 2px solid var(--second-color);
  background-color: var(--bs-body-bg);
  backdrop-filter: blur(10px);
  z-index: -1;
  transform: perspective(10px) rotateX(4deg);
  -webkit-transform: perspective(10px) rotateX(4deg);
  -moz-transform: perspective(10px) rotateX(4deg);
  -ms-transform: perspective(10px) rotateX(4deg);
  -o-transform: perspective(10px) rotateX(4deg);
}

.dropdown-menu.show {
  display: flex;
}
.dropup:not(.cdk-drag-disabled) .btn-outline-warning {
  cursor: col-resize;
}
.dropdown-menu {
  background-color: var(--bs-body-bg);
  min-width: max-content;
  animation: 0.5s slideup;
  -webkit-animation: 0.5s slideup;
}
@keyframes slideup {
  from {
    opacity: 0;
    margin-bottom: 1rem;
  }
}

.cdk-drag-preview {
  opacity: 0;
}
.cdk-drag-placeholder {
  opacity: 1;
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--box-shadow-second-color);
}
.cdk-drag-placeholder .btn-outline-warning {
  color: var(--bs-body-bg);
  background-color: var(--second-color);
}

.btn-icon,
.btn-icon:active {
  right: 0;
  color: var(--first-color);
}

/* ---------- SCROLL UP BUTTON ---------- */
/* botón scroll que se oculta en el home */
.scroll-up__btn {
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: auto;
}


/* para pantallas muy chicas */
@media screen and (max-width: 250px) {
  .socials-widget {
    gap: 0 !important;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }
}
