/* ---------- SOCIALS ---------- */
/* div debajo de la pantalla con las redes sociales */
/* se esconde en el home */
.socials-widget-container {
  z-index: 10;
}
/* simulo la forma de un trapecio */
.socials-widget::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-top: 5px solid rgb(var(--bs-warning-rgb));
  border-left: 2px solid rgb(var(--bs-warning-rgb));
  border-right: 2px solid rgb(var(--bs-warning-rgb));
  background-color: var(--bs-body-bg);
  backdrop-filter: blur(10px);
  z-index: -1;
  transform: perspective(10px) rotateX(4deg);
  -webkit-transform: perspective(10px) rotateX(4deg);
  -moz-transform: perspective(10px) rotateX(4deg);
  -ms-transform: perspective(10px) rotateX(4deg);
  -o-transform: perspective(10px) rotateX(4deg);
}

.dropdown-menu.show {
  min-width: 0;
  display: flex;
}
.dropup:not(.cdk-drag-disabled) .btn-outline-warning {
  cursor: col-resize;
}

.cdk-drag-preview {
  opacity: 0;
}
.cdk-drag-placeholder {
  opacity: 1;
  outline: 0;
  box-shadow: 0 0 0 0.25rem hsla(var(--hue-color), 69%, 61%, 0.25);
}


/* ---------- SCROLL UP BUTTON ---------- */
/* botón scroll que se oculta en el home */
.scroll-up__btn {
  border-width: 2px;
  right: 0;
  bottom: 0;
  border-bottom-width: 5px;
  backdrop-filter: blur(10px);
  z-index: 100;
}


/* para pantallas muy chicas */
@media screen and (max-width: 250px) {
  .socials-widget {
    gap: 0 !important;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }
}
