/* ---------- SOCIALS ---------- */
/* div debajo de la pantalla con las redes sociales */
/* se esconde en el home */
.socials {
  height: 50px;
  max-width: 200px;
  z-index: 10;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}
/* simulo la forma de un trapecio */
.socials::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-top: 5px solid var(--second-color);
  border-left: 2px solid var(--second-color);
  border-right: 2px solid var(--second-color);
  background-color: var(--bs-body-bg);
  backdrop-filter: blur(10px);
  z-index: -1;
  transform: perspective(10px) rotateX(4deg);
  -webkit-transform: perspective(10px) rotateX(4deg);
  -moz-transform: perspective(10px) rotateX(4deg);
  -ms-transform: perspective(10px) rotateX(4deg);
  -o-transform: perspective(10px) rotateX(4deg);
}
/* color de los iconos */
.socials a {
  font-size: 1.2em;
  padding: 0.25rem 0.5rem;
  color: var(--second-color);
  transition: padding 0.1s;
  -webkit-transition: padding 0.1s;
  -moz-transition: padding 0.1s;
  -ms-transition: padding 0.1s;
  -o-transition: padding 0.1s;
}
/* animación en los iconos */
.socials a:hover,
.socials a:active {
  padding-bottom: 0.5rem;
}


/* ---------- SCROLL UP BUTTON ---------- */
/* botón scroll que se oculta en el home */
.scroll-up__btn {
  --bs-btn-font-size: 1.5em;
  --bs-btn-border-width: 2px;
  right: 0;
  bottom: 0;
  border-bottom-width: 5px;
  backdrop-filter: blur(10px);
  z-index: 100;
}
.scroll-up__btn i {
  font-size: 1.2em;
}