<div class="accordion-item bg-body border-0">
  <h2 class="position-relative" id="headingThree">
    <button type="button" 
    class="accordion-button collapsed bg-body p-3 pe-5" 
    aria-expanded="false" 
    data-bs-toggle="collapse" 
    data-bs-target="#collapseThree" 
    aria-controls="collapseThree">
      <i class="skill-type-icon bi bi-palette2 me-3"></i>

      <div class="w-100">
        <h5>Soft skills</h5>
        <p class="m-0">En el entorno laboral</p>
      </div>
    </button>
    
    <div class="accordion-icons position-absolute d-flex flex-column justify-content-center align-items-center me-3 h-100">
      <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
      data-bs-toggle="modal" data-bs-target="#newSoftSkill" 
      *ngIf="this.tokenService.isLoggedIn() && this.soft != null">
        <i class="bi bi-plus-square"></i>
      </button>
      <i class="bi bi-chevron-down fs-5"></i>
    </div>
  </h2>

  <div class="accordion-collapse collapse bg-body" id="collapseThree" 
  aria-labelledby="headingThree" data-bs-parent="#accordion">
    <div class="accordion-body bg-body p-0 ps-sm-3" cdkDropList (cdkDropListDropped)="this.onDropped($event)" *ngIf="this.soft != null">
      <div class="card card-body bg-body border-0 p-2" *ngFor="let skill of soft" cdkDrag 
      [cdkDragDisabled]="!this.tokenService.isLoggedIn()">
        <div class="flex-ssm-wrap-reverse d-flex justify-content-end align-items-end w-100">
          <div class="d-flex justify-content-center align-items-center mb-2 me-auto">
            <i class="drag-handle bi bi-list lh-1 fs-5 pe-2" cdkDragHandle 
            *ngIf="this.tokenService.isLoggedIn()"></i>
            <h6 class="mb-0 me-2">{{skill.name}}</h6>
          </div>
          <p class="text-nobreak ms-auto mb-2">{{skill.percentage}}%</p>
          
          <div class="d-flex gap-1 ps-2 mb-2" *ngIf="this.tokenService.isLoggedIn()">
            <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
            data-bs-toggle="modal" data-bs-target="#editSoftSkill" 
            (click)="this.id = skill.id; this.onDetail()">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
            (click)="delete(skill.id!)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" attr.style="width: {{skill.percentage}}%" attr.aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <!---------- LAZY LOADING PLACEHOLDER ---------->
    <div class="accordion-body bg-body p-0 ps-sm-3" *ngIf="this.soft == null">
      <div class="card card-body bg-body border-0 p-2" *ngFor="let i of ['', '']" aria-hidden="true">
        <h6 class="placeholder col-5 mt-2"></h6>
        <p class="placeholder col-12 mb-2"></p>
      </div>
    </div>
  </div>
</div>

<app-new-soft-skill></app-new-soft-skill>
<app-edit-soft-skill></app-edit-soft-skill>
