<div class="accordion-item border-0">
  <h2 class="position-relative" id="headingThree">
    <button type="button" 
    class="accordion-button collapsed p-3" 
    aria-expanded="false" 
    data-bs-toggle="collapse" 
    data-bs-target="#collapseThree" 
    aria-controls="collapseThree">
      <i class="skill-type-icon bi bi-palette2 text-primary"></i>

      <div class="w-100">
        <h5>Soft skills</h5>
        <p class="m-0">En el entorno laboral</p>
      </div>
      
      <button type="button" class="btn btn-outline-light border-0 float-end lh-1 fs-5 h-fc p-1 me-1" 
      data-bs-toggle="modal" data-bs-target="#newSoftSkill" 
      *ngIf="tokenService.isLoggedIn() && soft">
        <i class="bi bi-plus-square"></i>
      </button>
    </button>
  </h2>

  <div class="accordion-collapse collapse" id="collapseThree" 
  aria-labelledby="headingThree" data-bs-parent="#accordion">
    <div class="accordion-body" cdkDropList (cdkDropListDropped)="onDropped($event)" *ngIf="soft">
      <div class="card card-body border-0 p-2" *ngFor="let skill of soft" cdkDrag 
      [cdkDragDisabled]="!tokenService.isLoggedIn()">
        <div class="flex-ssm-wrap-reverse d-flex justify-content-end align-items-end w-100">
          <h6 class="pe-2 me-auto"><i class="drag-handle bi bi-list lh-1 fs-5 me-2" cdkDragHandle 
          *ngIf="tokenService.isLoggedIn()"></i>{{skill.name}}</h6>
          <p class="text-nobreak ms-auto mb-2">{{skill.percentage}}%</p>
          
          <div class="d-flex gap-1 ps-2 mb-2" *ngIf="tokenService.isLoggedIn()">
            <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
            data-bs-toggle="modal" data-bs-target="#editSoftSkill" 
            (click)="id = skill.id; onDetail()">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
            (click)="delete(skill.id!)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" attr.style="width: {{skill.percentage}}%" attr.aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <!---------- LAZY LOADING PLACEHOLDER ---------->
    <div class="accordion-body" *ngIf="!soft">
      <div class="card card-body border-0 p-2" *ngFor="let i of ['', '']" aria-hidden="true">
        <h6 class="placeholder col-5 mt-2"></h6>
        <p class="placeholder col-12 mb-2"></p>
      </div>
    </div>
  </div>
</div>

<app-new-soft-skill></app-new-soft-skill>
<app-edit-soft-skill></app-edit-soft-skill>
