<div class="accordion-item bg-body border-0">
  <h2 class="position-relative" id="headingOne">
    <button type="button" 
    class="accordion-button bg-body p-3 pe-5" 
    aria-expanded="true" 
    data-bs-toggle="collapse" 
    data-bs-target="#collapseOne" 
    aria-controls="collapseOne">
      <i class="skill-type-icon bi bi-braces fs-2 me-3"></i>
      
      <div class="w-100">
        <h5>Frontend</h5>
        <p class="m-0">Maquetado y diseño</p>
      </div>
    </button>

    <div class="accordion-icons position-absolute d-flex flex-column justify-content-center align-items-center pe-3 h-100">
      <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
      data-bs-toggle="modal" data-bs-target="#newFrontSkill" *ngIf="this.tokenService.isLoggedIn()">
        <i class="bi bi-plus-square"></i>
      </button>
      <i class="bi bi-chevron-down fs-5"></i>
    </div>
  </h2>

  <div class="accordion-collapse collapse show bg-body" id="collapseOne" 
  aria-labelledby="headingOne" data-bs-parent="#accordion">
    <div class="accordion-body bg-body p-0 ps-sm-3" cdkDropList (cdkDropListDropped)="this.onDropped($event)" *ngIf="this.frontEnd != null">
      <div class="card card-body bg-body border-0 p-2" *ngFor="let skill of frontEnd" cdkDrag 
      [cdkDragDisabled]="!this.tokenService.isLoggedIn()">
        <div class="flex-ssm-wrap-reverse d-flex justify-content-end align-items-center w-100">
          <div class="d-flex justify-content-center align-items-center mb-2 me-auto">
            <i class="drag-handle bi bi-list lh-1 fs-5 pe-2" cdkDragHandle 
            *ngIf="this.tokenService.isLoggedIn()"></i>
            <h6 class="mb-0 me-2">{{skill.name}}</h6>
          </div>
          <p class="text-nobreak ms-auto mb-2">{{skill.percentage}}</p>

          <div class="d-flex gap-1 ps-2 mb-2">
            <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
            data-bs-toggle="modal" data-bs-target="#editFrontSkill" 
            *ngIf="this.tokenService.isLoggedIn()" (click)="this.id = skill.id; this.onDetail()">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
            *ngIf="this.tokenService.isLoggedIn()" (click)="delete(skill.id!)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>

        <div class="progress">
          <div class="progress-bar" role="progressbar" attr.style="width: {{skill.percentage}}%" attr.aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <!---------- LAZY LOADING PLACEHOLDER ---------->
    <div class="accordion-body bg-body p-0 ps-sm-3" *ngIf="this.frontEnd == null">
      <div class="card card-body bg-body border-0 p-2" *ngFor="let i of ['', '']" aria-hidden="true">
        <h6 class="placeholder-glow">
          <span class="placeholder col-5"></span>
        </h6>
        
        <p class="placeholder-glow">
          <span class="placeholder col-12"></span>
        </p>
      </div>
    </div>
  </div>
</div>

<app-new-front-skill></app-new-front-skill>
<app-edit-front-skill></app-edit-front-skill>
