<div class="modal fade modal-dialog-scrollable vh-100" 
id="editPerson" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="editPersonLabel" aria-hidden="true" *ngIf="appComponent.personEdit">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editPersonLabel">Modificar presentación</h1>
        <button type="button" class="btn-close lh-1 fs-5" data-bs-dismiss="modal" aria-label="Close" (click)="appComponent.loadPerson()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6 col-12">
              <!-- Name input -->
              <div class="form-floating mb-4">
                <input type="text" 
                class="form-control" 
                name="personNameInput" 
                placeholder="Nombre" 
                [(ngModel)]="appComponent.personEdit.name" 
                required>
                <label class="form-label" for="personNameInput">Nombre</label>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <!-- LastName input -->
              <div class="form-floating mb-4">
                <input type="text" 
                class="form-control" 
                name="personLastNameInput" 
                placeholder="Apellido" 
                [(ngModel)]="appComponent.personEdit.lastName" 
                required>
                <label class="form-label" for="personLastNameInput">Apellido</label>
              </div>
            </div>
          </div>
          <!-- Img input -->
          <div class="form-floating mb-4">
            <input type="file" 
            class="form-control" 
            name="personImgInput" 
            placeholder="Foto de perfil" 
            (change)="uploadImage($event)" 
            accept=".jpg, .jpeg, .png" 
            required>
            <label class="form-label" for="personImgInput">Foto de perfil</label>
          </div>
          <!-- Img View -->
          <div class="d-flex justify-content-center mb-4" *ngIf="imageService.url">
            <img [src]="imageService.url" height=200 class="rounded-3">
          </div>
          <!-- Cv input -->
          <div class="form-floating mb-4">
            <input type="file" 
            class="form-control" 
            name="personCvInput" 
            placeholder="Archivo CV" 
            (change)="uploadFile($event)" 
            accept=".pdf, .docx, .txt" 
            required>
            <label class="form-label" for="personCvInput">Archivo CV</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="appComponent.loadPerson()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
