<div class="modal fade modal-dialog-scrollable vh-100" 
id="editPerson" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="editPersonLabel" aria-hidden="true" *ngIf="this.homeComponent.personEdit">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editPersonLabel">Modificar presentación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6 col-12">
              <!-- Name input -->
              <div class="form-floating mb-4">
                <input type="text" 
                class="form-control" 
                id="personNameInput" 
                name="personNameInput" 
                placeholder="Nombre" 
                [(ngModel)]="this.homeComponent.personEdit.name" 
                required>
                <label for="personNameInput">Nombre</label>
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <!-- LastName input -->
              <div class="form-floating mb-4">
                <input type="text" 
                class="form-control" 
                id="personLastNameInput" 
                name="personLastNameInput" 
                placeholder="Apellido" 
                [(ngModel)]="this.homeComponent.personEdit.lastName" 
                required>
                <label for="personLastNameInput">Apellido</label>
              </div>
            </div>
          </div>
          <!-- Email input -->
          <div class="form-floating mb-4">
            <input type="email" 
            class="form-control" 
            id="personEmailInput" 
            name="personEmailInput" 
            placeholder="Correo electrónico" 
            [(ngModel)]="this.homeComponent.personEdit.email" 
            required>
            <label for="personEmailInput">Correo electrónico</label>
          </div>
          <!-- Description input -->
          <div class="form-floating mb-4">
            <textarea type="text" 
            class="form-control" 
            maxlength="250"
            id="personDescInput" 
            name="personDescInput" 
            placeholder="Descripción sobre mí" 
            [(ngModel)]="this.homeComponent.personEdit.description" 
            required></textarea>
            <label for="personDescInput">Descripción sobre mí</label>
          </div>
          <!-- Img input -->
          <div class="form-floating">
            <input type="file" 
            class="form-control" 
            id="personImgInput" 
            name="personImgInput" 
            placeholder="Foto de perfil" 
            [(ngModel)]="this.homeComponent.personEdit.img" 
            (change)="uploadImage($event)" 
            accept=".jpg, .jpeg, .png" 
            required>
            <label for="personImgInput">Foto de perfil</label>
          </div>
          <!-- Img View -->
          <div class="d-flex justify-content-center mt-4">
            <i class="bi bi-person-bounding-box" style="font-size: 150px" 
            *ngIf="!imageService.url"></i>
            <img [src]="imageService.url" width="150px" *ngIf="imageService.url">
          </div>
          <!-- Cv input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="personCvInput" 
            name="personCvInput" 
            placeholder="Url para descargar CV" 
            [(ngModel)]="this.homeComponent.personEdit.cv" 
            required>
            <label for="personCvInput">Url para descargar CV</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
