.accordion-icon {
  font-size: 2rem;
}

/* corrigo el border-radius inferior del botón cuando se muestra el contenido */
.accordion-item:first-of-type .accordion-button {
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
}

/* reemplazo el icono por defecto por uno que pueda customizar */
.accordion-button::after {
  display: none;
}
/* estilo al nuevo ícono */
.accordion-button .bi-chevron-down {
  font-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed) .bi-chevron-down {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.accordion-item span {
  color: var(--text-color);
}

.progress {
  --bs-progress-bar-bg: var(--first-color);
  --bs-progress-bg: var(--first-color-lighter);
}
