<!-------- LOGIN SECTION -------->
<div class="modal fade modal-dialog-scrollable vh-100" 
id="login" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">Iniciar sesión</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.onClean()"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="modal-body">
          <!-- Email input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="userNameInput" 
            placeholder="Nombre de usuario" 
            [(ngModel)]="userName" 
            required>
            <label class="form-label" for="userNameInput">Nombre de usuario</label>
          </div>
          <!-- Password input -->
          <div class="form-floating d-flex align-items-center mb-4">
            <input [type]="isShowing? 'text': 'password'" 
            class="form-control pe-5" 
            name="passwordInput" 
            placeholder="Contraseña" 
            [(ngModel)]="password" 
            aria-label="Password" 
            aria-describedby="button-addon" 
            required>
            <label class="form-label" for="passwordInput">Contraseña</label>
            <button type="button" 
            class="btn btn-pwd position-absolute d-flex align-items-center rounded-5 border-0 lh-1 fs-3 h-fc p-1 me-2" id="button-addon" 
            (click)="this.isShowing = !this.isShowing">
              <i class="bi" [ngClass]="isShowing? 'bi-eye-slash': 'bi-eye'"></i>
            </button>
          </div>
          <!-- <p class="small mb-5"><a href="#">¿Olvidaste tu contraseña?</a></p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.onClean()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
