/* --------- LOGIN SECTION ----------- */
.gradient-custom {
  background-color: #2e125f;
  background-image: linear-gradient(
    to bottom,
    #2e125f 0%,
    #2d4b91 10%,
    #4b93c8 50%,
    #8be3fd 60%
  );
}

a:not(.btn) {
  color: var(--first-color)
}
