<!-------- LOGIN SECTION -------->
<div class="modal fade modal-dialog-scrollable vh-100" 
id="login" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">Iniciar sesión</h1>
        <button type="button" class="btn-close lh-1 fs-5" data-bs-dismiss="modal" aria-label="Close" (click)="onClean()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="modal-body">
          <!-- Email input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="userNameInput" 
            placeholder="Nombre de usuario" 
            [(ngModel)]="userName" 
            required>
            <label class="form-label" for="userNameInput">Nombre de usuario</label>
          </div>
          <!-- Password input -->
          <div class="form-floating d-flex align-items-center mb-4">
            <input [type]="isShowing? 'text': 'password'" 
            class="form-control pe-5" 
            name="passwordInput" 
            placeholder="Contraseña" 
            [(ngModel)]="password" 
            aria-label="Password" 
            aria-describedby="button-addon" 
            required>
            <label class="form-label" for="passwordInput">Contraseña</label>
            <button type="button" 
            class="btn btn-pwd position-absolute d-flex align-items-center rounded-5 border-0 lh-1 fs-3 h-fc p-1 me-2" id="button-addon" 
            (click)="isShowing = !isShowing">
              <i class="bi" [ngClass]="isShowing? 'bi-eye-slash': 'bi-eye'"></i>
            </button>
          </div>
          <!-- <p class="small mb-5"><a href="#">¿Olvidaste tu contraseña?</a></p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClean()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-------- LOGIN SECTION -------->
<!-- <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light rounded-4">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4">
              <h2 class="fw-bold mb-2 text-uppercase">Iniciá sesión</h2>
              <p class="mb-5">Por favor ingrese su nombre y contraseña</p>

              <form>
              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                
                <div class="form-floating mb-4">
                  <input type="email" class="form-control" id="emailInput" name="emailInput" [(ngModel)]="emailInput" placeholder="name@example.com">
                  <label for="emailInput">Correo electrónico</label>
                  <input type="text" 
                  class="form-control" 
                  id="userNameInput" 
                  name="userNameInput" 
                  [(ngModel)]="userName" 
                  placeholder="name@example.com"
                  required>
                  <label for="userNameInput">Nombre de usuario</label>
                </div>
                
                <div class="input-group mb-4">
                  <div class="form-floating">
                    <input type="password" class="form-control" id="passwordInput" name="passwordInput" [(ngModel)]="passwordInput" placeholder="Password" aria-label="Password" aria-describedby="button-addon">
                    <label for="floatingPassword">Contraseña</label>
                    <input type="password" 
                    class="form-control" 
                    id="passwordInput" 
                    name="passwordInput" 
                    [(ngModel)]="password" 
                    placeholder="Password" 
                    aria-label="Password" 
                    aria-describedby="button-addon"
                    required>
                    <label for="passwordInput">Contraseña</label>
                  </div>
                  <button class="btn btn-dark" type="button" id="button-addon">
                    <i class="bi bi-eye-slash fs-3"></i>
@@ -29,7 +43,7 @@ <h2 class="fw-bold mb-2 text-uppercase">Iniciá sesión</h2>
                <p class="small mb-5"><a href="#">¿Olvidaste tu contraseña?</a></p>

                <a href="/" class="btn btn-primary btn-lg px-5" (click)="btnLogIn()">Iniciar sesión</a>
                <button type="submit" class="btn btn-primary btn-lg px-5">Iniciar sesión</button>
              </form>
            </div>

            <div>
              <p class="mb-0">¿No tienes una cuenta? <a href="#" class="fw-bold">Regístrate</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->