<div cdkDropList (cdkDropListDropped)="onDropped($event)" *ngIf="aboutComponent.education">
  <div class="card-list" *ngFor="let ed of aboutComponent.education; last as last; even as even; odd as odd">
    <div class="d-none d-sm-block" *ngIf="odd"></div>
    
    <div class="pt-2" [ngClass]="{'order-sm-last': even}">
      <div class="rounder d-block bg-primary rounded-5"></div>
      <div class="line d-block bg-primary mx-auto" [ngClass]="{'d-none': last}"></div>
    </div>
    
    <div class="card card-body border-0 p-2" cdkDrag [cdkDragDisabled]="!tokenService.isLoggedIn()">
      <div class="flex-ssm-wrap-reverse d-flex align-items-start">
        <h5 class="me-3"><i class="drag-handle bi bi-list lh-1 fs-5 me-2" cdkDragHandle 
        *ngIf="tokenService.isLoggedIn()"></i>{{ed.edCareerName}}</h5>
        
        <div class="d-flex gap-1 ms-auto mb-2" *ngIf="tokenService.isLoggedIn()">
          <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
          data-bs-toggle="modal" data-bs-target="#editEd" 
          (click)="id = ed.id; onDetail()">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
          (click)="delete(ed.id!)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
      
      <h6>{{ed.edInsTitle}}</h6>
      <p>{{ed.edDesc}}</p>
      <p class="m-0">
        <i class="bi bi-calendar4-event me-1"></i>
        {{ed.edPeriod}}
      </p>
    </div>
  </div>
</div>

<!---------- LAZY LOADING PLACEHOLDER ---------->
<div *ngIf="!aboutComponent.education">
  <div class="card-list" *ngFor="let i of ['', '', '']; last as last; even as even; odd as odd" aria-hidden="true">
    <div class="d-none d-sm-block" *ngIf="odd"></div>
    
    <div [ngClass]="{'order-sm-last': even}">
      <div class="rounder d-block bg-primary rounded-5"></div>
      <div class="line d-block bg-primary mx-auto" [ngClass]="{'d-sm-none': last}"></div>
    </div>
    
    <div class="card card-body border-0 p-2">
      <h5 class="placeholder col-6"></h5>
      <p class="m-0">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
        <span class="placeholder col-4"></span>
      </p>
    </div>
  </div>
</div>

<app-new-education></app-new-education>
<app-edit-education></app-edit-education>
