<div class="flex-ssm-wrap-reverse d-flex align-items-start">
  <h2 class="reveal second me-3">EDUCACIÓN</h2>
  <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1 ms-auto mb-2" 
  data-bs-toggle="modal" data-bs-target="#newEd" 
  *ngIf="this.tokenService.isLoggedIn() && this.education != null">
    <i class="bi bi-plus-square"></i>
  </button>
</div>

<div cdkDropList (cdkDropListDropped)="this.onDropped($event)" *ngIf="this.education != null">
  <div class="card card-body bg-body border-0" *ngFor="let ed of education" cdkDrag 
  [cdkDragDisabled]="!this.tokenService.isLoggedIn()">
    <div class="d-flex">
      <div class="timeline">
        <div class="rounder bg-body"></div>
        <div class="line mx-auto"></div>
      </div>

      <div class="ps-3 w-100">
        <div class="flex-ssm-wrap-reverse d-flex align-items-start">
          <div class="d-flex align-items-center mb-2">
            <i class="drag-handle bi bi-list lh-1 fs-5 pe-2" cdkDragHandle 
            *ngIf="this.tokenService.isLoggedIn()"></i>
            <h5 class="mb-0 me-3">{{ed.edCareerName}}</h5>
          </div>
          
          <div class="d-flex gap-1 ms-auto mb-2" *ngIf="this.tokenService.isLoggedIn()">
            <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
            data-bs-toggle="modal" data-bs-target="#editEd" 
            (click)="this.id = ed.id; this.onDetail()">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
            (click)="delete(ed.id!)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      
        <h6>{{ed.edInsTitle}}</h6>
        <p>{{ed.edDesc}}</p>
        <p class="m-0">Periodo: {{ed.edPeriod}}</p>
      </div>
    </div>
  </div>
</div>

<!---------- LAZY LOADING PLACEHOLDER ---------->
<div *ngIf="this.education == null">
  <div class="card card-body bg-body border-0" *ngFor="let i of ['', '']" aria-hidden="true">
    <div class="d-flex">
      <div class="timeline placeholder bg-transparent">
        <div class="rounder bg-body"></div>
        <div class="line mx-auto"></div>
      </div>
  
      <div class="ps-3 w-100">
        <h5 class="placeholder col-6"></h5>
        <p class="m-0">
          <span class="placeholder col-12"></span>
          <span class="placeholder col-12"></span>
          <span class="placeholder col-12"></span>
          <span class="placeholder col-4"></span>
        </p>
      </div>
    </div>
  </div>
</div>

<app-new-education></app-new-education>
<app-edit-education></app-edit-education>
