<div class="modal fade modal-dialog-scrollable h-100" 
id="newProyect" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="newProyectLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newProyectLabel">Nuevo proyecto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="proyectsComponent.onClean(); imageService.clearUrl()"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
        <div class="modal-body">
          <!-- Title input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="proyectTitleInput" 
            placeholder="Título" 
            [(ngModel)]="proyectsComponent.proyect.title" 
            required>
            <label class="form-label" for="proyectTitleInput">Título</label>
          </div>
          <!-- Subtitle input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="proyectSubtitleInput" 
            placeholder="Subtítulo" 
            [(ngModel)]="proyectsComponent.proyect.subtitle" 
            required>
            <label class="form-label" for="proyectSubtitleInput">Subtítulo</label>
          </div>
          <!-- Description input -->
          <div class="form-floating mb-4">
            <textarea type="text" 
            class="form-control" 
            maxlength="200" 
            name="proyectDescriptionInput" 
            placeholder="Descripción" 
            [(ngModel)]="proyectsComponent.proyect.description" 
            required></textarea>
            <label class="form-label" for="proyectDescriptionInput">Descripción</label>
          </div>
          <!-- Finish date input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            name="proyectFinishDateInput" 
            placeholder="Fecha de realización" 
            [(ngModel)]="proyectsComponent.proyect.finishDate" 
            required>
            <label class="form-label" for="proyectFinishDateInput">Fecha de realización</label>
          </div>
          <!-- Img input -->
          <div class="form-floating mb-4">
            <input type="file" 
            class="form-control" 
            name="proyectImgInput" 
            placeholder="Imagen del proyecto" 
            (change)="uploadImage($event)" 
            accept=".jpg, .jpeg, .png" 
            required>
            <label class="form-label" for="proyectImgInput">Imagen del proyecto</label>
          </div>
          <!-- Img View -->
          <div class="d-flex justify-content-center mb-4" *ngIf="imageService.url">
            <img [src]="imageService.url" height=200 class="rounded-3">
          </div>
          <!-- Url input -->
          <div class="form-floating">
            <input type="text" 
            class="form-control" 
            name="proyectUrlInput" 
            placeholder="Link al repositorio" 
            [(ngModel)]="proyectsComponent.proyect.url" 
            required>
            <label class="form-label" for="proyectUrlInput">Link al repositorio</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="proyectsComponent.onClean(); imageService.clearUrl()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
