<div class="modal fade modal-dialog-scrollable vh-100" 
id="newProyect" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="newProyectLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newProyectLabel">Nuevo proyecto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.onClean()"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
        <div class="modal-body">
          <!-- Title input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="proyectTitleInput" 
            name="proyectTitleInput" 
            placeholder="Título" 
            [(ngModel)]="proyectTitle" 
            required>
            <label class="form-label" for="proyectTitleInput">Título</label>
          </div>
          <!-- Subtitle input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="proyectSubtitleInput" 
            name="proyectSubtitleInput" 
            placeholder="Subtítulo" 
            [(ngModel)]="proyectSubtitle" 
            required>
            <label class="form-label" for="proyectSubtitleInput">Subtítulo</label>
          </div>
          <!-- Description input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="proyectDescriptionInput" 
            name="proyectDescriptionInput" 
            placeholder="Descripción" 
            [(ngModel)]="proyectDescription" 
            required>
            <label class="form-label" for="proyectDescriptionInput">Descripción</label>
          </div>
          <!-- Finish date input -->
          <div class="form-floating mb-4">
            <input type="text" 
            class="form-control" 
            id="proyectFinishDateInput" 
            name="proyectFinishDateInput" 
            placeholder="Fecha de realización" 
            [(ngModel)]="proyectFinishDate" 
            required>
            <label class="form-label" for="proyectFinishDateInput">Fecha de realización</label>
          </div>
          <!-- Img input -->
          <div class="form-floating mb-4">
            <input type="file" 
            class="form-control" 
            id="proyectImgInput" 
            name="proyectImgInput" 
            placeholder="Imagen del proyecto" 
            [(ngModel)]="proyectImg" 
            accept=".jpg, .jpeg, .png" 
            required>
            <label class="form-label" for="proyectImgInput">Imagen del proyecto</label>
          </div>
          <!-- Img View -->
          <div class="d-flex justify-content-center mt-4">
            <i class="bi bi-proyect-bounding-box" style="font-size: 150px" 
            *ngIf="!imageService.url"></i>
            <img [src]="imageService.url" width="150px" *ngIf="imageService.url">
          </div>
          <!-- Url input -->
          <div class="form-floating">
            <input type="text" 
            class="form-control" 
            id="proyectUrlInput" 
            name="proyectUrlInput" 
            placeholder="Link al repositorio" 
            [(ngModel)]="proyectUrl" 
            required>
            <label class="form-label" for="proyectUrlInput">Link al repositorio</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.onClean()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
