<!---------- PROYECTS SECTION ---------->
<section id="proyects">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <div class="flex-ssm-wrap-reverse d-flex w-100">
            <h2 class="me-3">PROYECTOS</h2>
            <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1 ms-auto mb-2" data-bs-toggle="modal" data-bs-target="#newProyect" 
            *ngIf="tokenService.isLoggedIn() && proyects">
              <i class="bi bi-plus-square"></i>
            </button>
          </div>
          <div class="title-span bg-warning rounded"></div>
        </div>
        <p>Proyectos en los que he participado y prácticas personales que he realizado</p>
      </div>

      <!---------- BOOTSTRAP CAROUSEL ---------->
      <div id="carouselIndicators" class="col-12 carousel slide">
        <div class="carousel-indicators mb-0" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="onDropped($event)">
          <button type="button" class="carousel-indicator" [ngClass]="{'active': f}" 
          *ngFor="let proyect of proyects; first as f; index as i" 
          data-bs-target="#carouselIndicators" 
          attr.data-bs-slide-to="{{i}}" attr.aria-current="{{f}}" attr.aria-label="Slide {{i + 1}}" 
          cdkDrag [cdkDragDisabled]="!tokenService.isLoggedIn()"></button>
        </div>
        
        <div class="carousel-inner" *ngIf="proyects">
          <div class="carousel-item card border-0 mb-3 p-4" [ngClass]="{'active': f}" *ngFor="let proyect of proyects; first as f">
            <div class="row g-0">
              <div class="col-md-5 d-flex justify-content-center align-items-center">
                <img src="{{proyect.img}}" class="img-fluid rounded-3" alt="proyectos">
              </div>

              <div class="col-md-7 pt-3 pt-md-0 ps-md-3">
                <div class="card-body p-0">
                  <div class="flex-ssm-wrap-reverse d-flex align-items-start w-100">
                    <h5 class="me-3">{{proyect.title}}</h5>
                    <div class="d-flex gap-1 ms-auto mb-2" *ngIf="tokenService.isLoggedIn()">
                      <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
                      data-bs-toggle="modal" data-bs-target="#editProyect" 
                      *ngIf="tokenService.isLoggedIn()"(click)="id = proyect.id; onDetail()">
                        <i class="bi bi-pencil-square"></i>
                      </button>
                      <button type="button" class="btn btn-outline-light border-0 lh-1 fs-5 h-fc p-1" 
                      (click)="delete(proyect.id!, proyect.title)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                  </div>

                  <p class="card-text">{{proyect.subtitle}}<br>{{proyect.description}}</p>
                  <p class="card-text">Fecha de realización: {{proyect.finishDate}}</p>

                  <a href="{{proyect.url}}" target="_blank" class="text-nobreak btn btn-primary d-inline-flex align-items-center p-3" role="button">Repo <i class="bi bi-arrow-right-short btn-icon fs-5 ms-2"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!---------- LAZY LOADING PLACEHOLDER ---------->
        <div class="carousel-inner" *ngIf="!proyects">
          <div class="card border-0 mb-3 px-4 pb-4" aria-hidden="true">
            <div class="row g-0">
              <div class="col-md-5 bg-secondary placeholder rounded-3" style="min-height: 100px;"></div>
          
              <div class="col-md-7 pt-3 pt-md-0 ps-md-3">
                <div class="card-body p-0">
                  <h5 class="card-title placeholder col-5"></h5>
                  <p class="card-text">
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-4"></span>
                  </p>
          
                  <a class="btn btn-primary col-2 placeholder disabled p-3" role="button"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev pb-4" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev" *ngIf="proyects">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next pb-4" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next" *ngIf="proyects">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>

<app-new-proyect></app-new-proyect>
<app-edit-proyect></app-edit-proyect>
