<section id="proyects">
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h2 class="reveal d-inline-block">PROYECTOS</h2>
        <br>
        <p class="reveal d-inline-block">
          Primeros proyectos en la escuela secundaria durante el 2021.
        </p>
      </div>

      <!---------- BOOTSTRAP CAROUSEL ---------->
      <div id="carouselExampleIndicators" class="col-12 carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item px-4 pb-5 active">
            <div class="row">
              <div class="col-sm-5 col-12 d-flex justify-content-center">
                <img src="../../../assets/img/proyects/Wiki Rift.png" class="rounded-3" alt="proyectos">
              </div>
              <div class="col-sm-7 col-12 my-auto">
                <h3 class="mt-3">Wiki Rift</h3>
                <p>
                  Proyecto intermedio de materia.<br>
                  Una simple página informativa acerca de el videojuego League of Legends: Wild Rift.
                </p>
                <a href="#" class="btn btn-primary d-inline-flex align-items-center p-3" role="button">Ir <i class="bi bi-arrow-right-short btn-icon"></i></a>
              </div>
            </div>
          </div>

          <div class="carousel-item px-4 pb-5">
            <div class="row">
              <div class="col-sm-5 col-12">
                <img src="../. d-flex justify-content-center./../assets/img/proyects/Summoner's pedia.png" class="rounded-3" alt="proyectos">
              </div>
              <div class="col-sm-7 col-12 my-auto">
                <h3 class="mt-3">Summoner's pedia</h3>
                <p>
                  Proyecto final de materia.<br>
                  Versión mejorada y mucho más completa del proyecto Wiki Rift.
                </p>
                <a href="#" class="btn btn-primary d-inline-flex align-items-center p-3" role="button">Ir <i class="bi bi-arrow-right-short btn-icon"></i></a>
              </div>
            </div>
          </div>

          <div class="carousel-item px-4 pb-5">
            <div class="row">
              <div class="col-sm-5 col-12">
                <img src="../. d-flex justify-content-center./../assets/img/proyects/IMCalculator.png" class="rounded-3" alt="proyectos">
              </div>
              <div class="col-sm-7 col-12 my-auto">
                <h3 class="mt-3">IMCalculator</h3>
                <p>
                  Proyecto final de materia.<br>
                  Una página muy simple hecha con PHP para medir el índice de masa corporal.
                </p>
                <a href="#" class="btn btn-primary d-inline-flex align-items-center p-3" role="button">Ir <i class="bi bi-arrow-right-short btn-icon"></i></a>
              </div>
            </div>
          </div>

          <div class="carousel-item px-4 pb-5">
            <div class="row">
              <div class="col-sm-5 col-12 d-flex justify-content-center">
                <img src="../../../assets/img/proyects/Portfolio.png" class="rounded-3" alt="proyectos">
              </div>
              <div class="col-sm-7 col-12 my-auto">
                <h3 class="mt-3">Portfolio Full Stack</h3>
                <p>
                  Proyecto final de #ArgentinaPrograma.<br>
                  Basado de Bootstrap y desarrollado en Angular y Java.
                </p>
                <a href="#" class="btn btn-primary d-inline-flex align-items-center p-3" role="button">Ir <i class="bi bi-arrow-right-short btn-icon"></i></a>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev pb-5" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <i class="bi bi-chevron-left"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next pb-5" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <i class="bi bi-chevron-right"></i>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
