/* ---------- BOOTSTRAP CAROUSEL ---------- */
.carousel-control-prev,
.carousel-control-next {
  width: max-content;
  font-size: 2rem;
  color: var(--first-color);
}

.carousel-indicators [data-bs-target] {
  background-color: var(--first-color);
  opacity: 0.1;
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel .card {
  background-color: transparent;
  border: none;
}

.carousel .btn-icon {
  font-size: 1.25rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.carousel a:hover .btn-icon {
  transform: translateX(0.25rem);
  -webkit-transform: translateX(0.25rem);
  -moz-transform: translateX(0.25rem);
  -ms-transform: translateX(0.25rem);
  -o-transform: translateX(0.25rem);
}


/* para pantallas muy chicas */
@media screen and (max-width: 250px) {
  .carousel-item {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }
}
