<div class="modal fade modal-dialog-scrollable vh-100" 
id="editEmail" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="editEmailLabel" aria-hidden="true" *ngIf="appComponent.personEdit">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editEmailLabel">Modificar coreo electrónico</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="appComponent.loadPerson()"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
        <div class="modal-body">
          <!-- Email input -->
          <div class="form-floating mb-4">
            <input type="email" 
            class="form-control" 
            name="personEmailInput" 
            placeholder="Correo electrónico" 
            [(ngModel)]="appComponent.personEdit.email" 
            required>
            <label class="form-label" for="personEmailInput">Correo electrónico</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="appComponent.loadPerson()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
