<div class="modal fade modal-dialog-scrollable vh-100" 
id="newSocial" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="newSocialLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newSocialLabel">Nueva red social</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.socialsComponent.onClean()"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
        <div class="modal-body">
          <!-- Icon input -->
          <div class="input-group mb-4">
            <div class="form-floating">
              <input type="text" 
              class="form-control" 
              name="socialIconInput" 
              placeholder="Ícono" 
              [(ngModel)]="this.socialsComponent.social.icon" 
              required>
              <label class="form-label" for="socialIconInput">Ícono</label>
            </div>
            <a href="https://icons.getbootstrap.com/" class="btn btn-outline-primary d-flex align-items-center">
              <i class="{{this.socialsComponent.social.icon}} fs-3 lh-1"></i>
            </a>
          </div>
          <!-- Url input -->
          <div class="form-floating">
            <input type="text" 
            class="form-control" 
            name="socialUrlInput" 
            placeholder="Url de enlace" 
            [(ngModel)]="this.socialsComponent.social.url" 
            required>
            <label class="form-label" for="socialUrlInput">Url de enlace</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.socialsComponent.onClean()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
