<div class="modal fade modal-dialog-scrollable vh-100" 
id="newSocial" data-bs-backdrop="static" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="newSocialLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newSocialLabel">Nueva red social</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="socialsComponent.onClean()"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
        <div class="modal-body">
          <!-- Icon input -->
          <div class="form-floating d-flex align-items-center mb-4">
            <input type="text" 
            class="form-control pe-5" 
            name="socialIconInput" 
            placeholder="Ícono" 
            [(ngModel)]="socialsComponent.social.icon" 
            required>
            <label class="form-label" for="socialIconInput">Ícono</label>
            <a href="https://icons.getbootstrap.com/" target="_blank" 
            class="btn btn-icon position-absolute d-flex align-items-center rounded-5 border-0 lh-1 fs-3 h-fc p-1 me-2">
              <i [ngClass]="socialsComponent.social.icon"></i>
              <i class="bi bi-bootstrap" *ngIf="socialsComponent.social.icon == ''"></i>
            </a>
          </div>
          <!-- Url input -->
          <div class="form-floating">
            <input type="text" 
            class="form-control" 
            name="socialUrlInput" 
            placeholder="Url de enlace" 
            [(ngModel)]="socialsComponent.social.url" 
            required>
            <label class="form-label" for="socialUrlInput">Url de enlace</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="socialsComponent.onClean()">Cancelar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
