/* -------- ACCORDION COLORS ---------- */
/* cambio las variables provistas por bootstrap */
.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-active-bg: var(--bs-accordion-bg);
  --bs-accordion-color: var(--first-color);
  --bs-accordion-btn-color: var(--bs-accordion-color);
  --bs-accordion-active-color: var(--bs-accordion-color);
  --bs-accordion-border-width: 0;
  --bs-accordion-btn-padding-x: 1rem;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem hsla(var(--hue-color), 69%, 61%, 0.25);
}
