/* -------- ACCORDION COLORS ---------- */
.accordion {
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-active-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-color: var(--bs-accordion-color);
  --bs-accordion-active-color: var(--bs-accordion-color);
  --bs-accordion-border-width: 0;
  --bs-accordion-btn-focus-box-shadow: none;
}

/* corrigo el border-radius inferior del botón cuando se muestra el contenido */
.accordion-item:first-of-type .accordion-button {
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
}
/* reemplazo el icono por defecto por uno que pueda customizar */
.accordion-button::after {
  display: none;
}

.skill-type-icon, .bi-chevron-down {
  color: var(--first-color);
}
.skill-type-icon {
  font-size: 2rem;
  margin-right: 0.75rem;
}

/* estilo al nuevo ícono */
.accordion-button ~ .accordion-icons .bi-chevron-down {
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed) ~ .accordion-icons .bi-chevron-down {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.accordion-icons {
  top: 0;
  right: 0;
  pointer-events: none;
}
.accordion-icons .btn-outline-light,
.accordion-icons > i {
  z-index: 3;
}
.accordion-icons .btn-outline-light {
  pointer-events: auto;
}

.accordion-body {
  padding: 0;
  padding-left: 2.25rem;
}

.progress {
  height: 0.5rem;
  background-color: var(--first-color-lighter);
}
.progress-bar {
  background-color: var(--first-color);
}


/* para pantallas muy chicas */
@media screen and (max-width: 250px) {
  .skill-type-icon {
    display: none;
  }

  .accordion-body {
    padding-left: 0;
  }
}
