<section id="skills">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 mb-2">
        <h2 class="reveal d-inline-block">HARD & SOFT SKILLS</h2>
        <br>
        <p class="reveal d-inline-block">Que he adquirido</p>
      </div>
    </div>
    
    <div class="accordion" id="accordionExample">
      <div class="row">
        <div class="col-lg-4 col-12 px-3 pe-lg-0">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="bi bi-braces accordion-icon me-3"></i>
                <div>
                  <h5>Frontend developer</h5>
                  <span>Menos de 1 año</span>
                </div>
                <i class="bi bi-chevron-down ms-auto"></i>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body d-flex flex-column gap-3">
                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>HTML</h6>
                    <span>100%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                
                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>CSS</h6>
                    <span>50%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>Bootstrap</h6>
                    <span>50%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                
                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>JavaScript</h6>
                    <span>25%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 px-3 px-lg-2">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="bi bi-hdd-network accordion-icon me-3"></i>
                <div>
                  <h5>Backend developer</h5>
                  <span>Menos de 6 meses</span>
                </div>
                <i class="bi bi-chevron-down ms-auto"></i>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body d-flex flex-column gap-3">
                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>HTML</h6>
                    <span>100%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                
                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>CSS</h6>
                    <span>50%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>Bootstrap</h6>
                    <span>50%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                
                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>JavaScript</h6>
                    <span>25%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 px-3 ps-lg-0">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="bi bi-palette2 accordion-icon me-3"></i>
                <div>
                  <h5>Soft skills</h5>
                  <span>En trabajo</span>
                </div>
                <i class="bi bi-chevron-down ms-auto"></i>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body d-flex flex-column gap-3">
                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>HTML</h6>
                    <span>100%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                
                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>CSS</h6>
                    <span>50%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>Bootstrap</h6>
                    <span>50%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                
                <div class="skills-container">
                  <div class="skills-data d-flex justify-content-between">
                    <h6>JavaScript</h6>
                    <span>25%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
