<!---------- PAGE CONTENT ---------->
<app-navbar></app-navbar>
<app-socials></app-socials>

<app-home></app-home>
<app-skills></app-skills>
<app-proyects></app-proyects>
<app-contact></app-contact>

<!-- 
  LISTA DE COSAS POR HACER:
  --Arreglar la imagen de los proyectos
  ?--Agregar animación en hover de sombra para la foto de perfil
  ?--Averiguar el tema del modal variable
  ?--Averiguar el tema del .kill() para el gsap, o ingresar el login en un modal
  ?--Agregar la funcionalidad de la sección contáctame o, si no da el tiempo, borrarla
  ?--Intentar agregar la función drag and drop para las skills, exp y ed
 -->
