<!---------- PAGE CONTENT ---------->
<app-navbar></app-navbar>
<app-socials></app-socials>

<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<app-proyects></app-proyects>
<app-contact></app-contact>

<!-- 

  LISTA DE COSAS POR HACER:

  --Arreglar TODOS los componentes de edición
  --Arreglar el error de persona aunque igualmente muestre los datos
  --Reposicionar el botón de agregar en los titulos de las skills a adentro del cuerpo
  --Agregar componente edición para el titulo y descripción de las secciones de las skills
  --Agregar botón edición del home
  !--Separar el backend de las skills en 3 secciones
  !--Separar el frontend de las skills en 3 secciones
  --Crear el backend de los proyectos
  --Actualizar el frontend de los proyectos
  --Averiguar el tema del modal variable
  --Averiguar el tema del .kill() para el gsap, o ingresar el login en un modal
  --Agregar la funcionalidad de la sección Contáctame, o si no me da el tiempo borrarla
  --Agregar componente edición para las redes sociales
  --Introducir el Deploy
  --Hacer la subida de imagen de foto de perfil

 -->
