/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
}

/* variables de color general */
:root, :root.light {
  /* favorite color */
  --hue-color: 230;
  --second-color: #ffc107;
  --box-shadow-second-color: #ffc10780;
  
  /* HSL color mode */
  --bs-body-bg: hsl(var(--hue-color), 60%, 99%);
  --border-color: hsl(var(--hue-color), 14%, 89%);
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --box-shadow-color: hsla(var(--hue-color), 8%, 15%, 0.5);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --scroll-thumb-hover-color: hsl(var(--hue-color), 8%, 65%);
}

:root.dark {
  --bs-body-bg: hsl(var(--hue-color), 28%, 12%);
  --border-color: hsl(var(--hue-color), 14%, 22%);
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --box-shadow-color: hsla(var(--hue-color), 8%, 95%, 0.5);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --scroll-thumb-hover-color: hsl(var(--hue-color), 8%, 65%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-bg: hsl(var(--hue-color), 28%, 12%);
    --border-color: hsl(var(--hue-color), 14%, 22%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --box-shadow-color: hsla(var(--hue-color), 8%, 95%, 0.5);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    --scroll-thumb-hover-color: hsl(var(--hue-color), 8%, 65%);
  }
}


/* ---------- BUTTON COLOR ---------- */
/* cambio los colores de variables provistas por bootstrap */
.btn-primary {
  --bs-btn-bg: var(--first-color);
  --bs-btn-hover-bg: var(--first-color-alt);
  --bs-btn-active-bg: var(--first-color-alt);
  --bs-btn-disabled-bg: var(--first-color);
  --bs-btn-border-color: var(--first-color);
  --bs-btn-hover-border-color: var(--first-color-alt);
  --bs-btn-active-border-color: var(--first-color-alt);
  --bs-btn-disabled-border-color: var(--first-color);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem hsla(var(--hue-color), 69%, 61%, 0.5);
}

.btn-outline-light {
  --bs-btn-color: var(--title-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--title-color);
  --bs-btn-active-bg: var(--title-color);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem var(--box-shadow-color);
}

.btn-outline-warning {
  --bs-btn-color: var(--second-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--second-color);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--second-color);
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem var(--box-shadow-second-color);
}

.btn-dark:not(.active) {
  --bs-nav-link-color: #b0b0b0;
  --bs-nav-link-hover-color: #b0b0b0;
  --bs-btn-color: #b0b0b0;
  --bs-btn-hover-color: #b0b0b0;
  --bs-btn-active-color: #b0b0b0;
  --bs-btn-bg: rgba(46, 46, 46, 0.6);
  --bs-btn-hover-bg: rgba(69, 69, 69, 0.6);
  --bs-btn-active-bg: rgba(36, 36, 36, 0.6);
  --bs-btn-border-color: #8c8c8c;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(176, 176, 176, 0.5);
}

/* agrego dos variables y estilos para fondo gradiente */
.btn-dark.active {
  --bs-btn-bg-gradient: rgba(103, 35, 35, 0.8);
  --bs-btn-bg: rgba(168, 5, 5, 0.8);
  --bs-btn-hover-bg-gradient: rgba(113, 35, 35, 0.8);
  --bs-btn-hover-bg: rgba(189, 10, 10, 0.8);
  --bs-btn-active-bg: rgba(113, 35, 35, 0.8);
  --bs-btn-hover-border-color: #ff742e;
  --bs-btn-active-border-color: #ff4f1f;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 116, 46, 0.5);
  background-image: linear-gradient(
    to bottom,
    var(--bs-btn-bg-gradient) 0%,
    var(--bs-btn-bg) 100%
  );
}
.btn-dark.active:hover,
.btn-dark.active:active {
  --bs-btn-active-border-color: #ff742e;
  background-image: linear-gradient(
    to bottom,
    var(--bs-btn-hover-bg-gradient) 0%,
    var(--bs-btn-hover-bg) 100%
  );
}
.btn-dark.active:active {
  background-image: none;
}


/* ---------- OTHER COLORS ---------- */
.bg-primary {
  background-color: var(--first-color) !important;
}
.bg-warning {
  background-color: var(--second-color) !important;
}
.text-warning {
  color: var(--second-color) !important;
}


/* ---------- SCROLL BAR ----------- */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}


/* ---------- MODAlS ---------- */
.modal {
  --bs-modal-bg: var(--bs-body-bg);
  --bs-modal-header-border-color: var(--border-color);
  --bs-modal-footer-border-color: var(--border-color);
  --bs-modal-margin: 3rem;
}


/* ---------- FORMS ---------- */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0 30px var(--input-color) inset !important;
}
.form-control,
.form-control:disabled,
.form-control:focus {
  color: var(--text-color);
  background-color: var(--input-color);
  border: none;
}

textarea.form-control {
  height: 120px !important;
}

.cdk-drag-preview,
.btn-close:focus,
.btn-link:focus-visible,
.accordion-item:first-of-type .accordion-button:focus,
.form-control:focus,
.form-range:focus::-webkit-slider-thumb {
  outline: 0;
  box-shadow: 0 0 0 0.25rem hsla(var(--hue-color), 69%, 61%, 0.25);
}

.form-label {
  color: var(--title-color);
}

/* webkit */
.form-range::-webkit-slider-runnable-track {
  background-color: var(--input-color);
}
.form-range::-webkit-slider-thumb {
  background-color: var(--first-color);
}
.form-range::-webkit-slider-thumb:active {
  background-color: var(--first-color-alt);
}
/* moz */
.form-range::-moz-range-track {
  background-color: var(--input-color);
}
.form-range::-moz-range-progress {
  background-color: var(--first-color);
}
.form-range::-moz-range-progress:active {
  background-color: var(--first-color-alt);
}
.form-range::-moz-range-thumb {
  background-color: var(--first-color);
}
.form-range::-moz-range-thumb:active {
  background-color: var(--first-color-alt);
}


/* ---------- SECTIONS ---------- */
section {
  padding-top: 6rem;
}

.bg-body {
  background-color: var(--bs-body-bg) !important;
}

.title-span {
  height: 0.25rem;
  width: 4rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--title-color);
}

p, .p {
  color: var(--text-color);
}

hr {
  color: var(--border-color);
  opacity: 1;
}

.text-nobreak {
  word-break: normal;
}

.h-fc {
  height: fit-content !important;
}

.navbar-toggler-icon,
.btn-close,
.btn-close:hover,
.btn-close:active {
  background: none;
  color: var(--title-color);
}


/* ---------- DRAG & DROP ---------- */
.drag-handle {
  color: var(--text-color);
  cursor: row-resize;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}


/* ---------- MEDIA QUERIES ---------- */
/* para pantallas muy chicas */
@media screen and (max-width: 250px) {
  .flex-ssm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
