/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
}

/* variables de color general */
:root {
  /* favorite color */
  --hue-color: 225;

  /* HSL color mode */
  --bs-body-bg: hsl(var(--hue-color), 28%, 12%);
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --second-color: hsl(44, 85%, 50%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --scroll-thumb-hover-color: hsl(var(--hue-color), 8%, 65%);
}


/* ---------- BUTTON COLOR ---------- */
/* cambio los colores de variables provistas por bootstrap */
.btn-primary {
  --bs-btn-bg: var(--first-color);
  --bs-btn-hover-bg: var(--first-color-alt);
  --bs-btn-active-bg: var(--first-color-alt);
  --bs-btn-border-color: var(--first-color);
  --bs-btn-hover-border-color: var(--first-color-alt);
  --bs-btn-active-border-color: var(--first-color-alt);
}
.btn-outline-primary {
  --bs-btn-color: var(--first-color);
  --bs-btn-hover-bg: var(--first-color-alt);
  --bs-btn-active-bg: var(--first-color-alt);
  --bs-btn-border-color: var(--first-color);
  --bs-btn-hover-border-color: var(--first-color-alt);
  --bs-btn-active-border-color: var(--first-color-alt);
}

.btn-outline-light {
  --bs-btn-color: var(--title-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--title-color);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--title-color);
}

.btn-outline-warning {
  --bs-btn-color: var(--second-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--second-color);
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--second-color);
}

/* cambio los colores de las variables provistas por bootstrap */
.btn-dark:not(.active) {
  --bs-nav-link-color: hsl(0, 0%, 69%);
  --bs-nav-link-hover-color: hsl(0, 0%, 69%);
  --bs-btn-color: hsl(0, 0%, 69%);
  --bs-btn-hover-color: hsl(0, 0%, 69%);
  --bs-btn-active-color: hsl(0, 0%, 69%);
  --bs-btn-bg: hsla(0, 0%, 18%, 0.6);
  --bs-btn-hover-bg: hsla(0, 0%, 27%, 0.6);
  --bs-btn-active-bg: hsla(0, 0%, 14%, 0.6);
  --bs-btn-border-color: hsl(0, 0%, 55%);
  --bs-btn-hover-border-color: hsl(0, 0%, 100%);
  --bs-btn-active-border-color: hsl(0, 0%, 100%);
}

/* cambio los colores de variables provistas por bootstrap */
/* agrego dos variables para fondo gradiente */
.btn-dark.active {
  --bs-btn-bg-gradient: hsla(0, 49%, 27%, 0.8);
  --bs-btn-bg: hsla(0, 94%, 34%, 0.8);
  --bs-btn-hover-bg-gradient: hsla(0, 53%, 29%, 0.8);
  --bs-btn-hover-bg: hsla(0, 90%, 39%, 0.8);
  --bs-btn-active-bg: hsla(0, 53%, 29%, 0.8);
  --bs-btn-hover-border-color: hsl(20, 100%, 59%);
  --bs-btn-active-border-color: hsl(13, 100%, 56%);
  background-image: linear-gradient(
    to bottom,
    var(--bs-btn-bg-gradient) 0%,
    var(--bs-btn-bg) 100%
  );
}
.btn-dark.active:hover {
  --bs-btn-active-border-color: hsl(20, 100%, 59%);
  background-image: linear-gradient(
    to bottom,
    var(--bs-btn-hover-bg-gradient) 0%,
    var(--bs-btn-hover-bg) 100%
  );
}
.btn-dark.active:active {
  --bs-btn-active-border-color: hsl(20, 100%, 59%);
  background-image: none;
}

.btn-link {
  --bs-btn-color: var(--first-color);
  --bs-btn-hover-color: var(--first-color-alt);
  --bs-btn-active-color: var(--first-color-alt);
}


/* ---------- SCROLL BAR ----------- */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}


/* ---------- MODAlS & LOGIN CARD ---------- */
.modal, .bg-light {
  --bs-modal-color: ;
  --bs-modal-bg: hsl(var(--hue-color), 60%, 99%);
  --bs-modal-border-color: var(--bs-modal-bg);
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);

  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
}


/* ---------- FORMS ---------- */
.form-control,
.form-control:focus {
  color: var(--text-color);
  background-color: var(--input-color);
  border: none;
}

textarea.form-control {
  height: 110px !important;
}

.cdk-drag-preview,
.btn-close:focus,
.btn-link:focus-visible,
.accordion-item:first-of-type .accordion-button:focus,
.form-control:focus,
.form-range:focus::-webkit-slider-thumb {
  outline: 0;
  box-shadow: 0 0 0 0.25rem hsla(var(--hue-color), 69%, 61%, 0.25);
}

.form-label {
  color: var(--title-color);
}

.form-range::-webkit-slider-thumb {
  background-color: var(--first-color);
}
.form-range::-moz-range-thumb {
  background-color: var(--first-color);
}
.form-range::-webkit-slider-thumb:active {
  background-color: var(--first-color-alt);
}
.form-range::-moz-range-thumb:active {
  background-color: var(--first-color-alt);
}
-webkit-slider-thumb:active {
  background-color: var(--first-color);
}


/* ---------- SECTIONS ---------- */
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.bg-body {
  background-color: var(--bs-body-bg) !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--title-color);
}
p, .p, hr {
  color: var(--text-color);
}

.text-nobreak {
  word-break: normal;
}

.h-fc {
  height: fit-content !important;
}


/* ---------- DRAG & DROP ---------- */
.drag-handle {
  color: var(--text-color);
  cursor: row-resize;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}


/* ---------- REVEAL SECTION TITLE EFFECT ---------- */
/* efecto reveal al entrar en el viewport */
.reveal {
  position: relative;
  transform-origin: left;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0.5s;
}
.reveal.active {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transition-delay: 0s;
}

.reveal::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--first-color);
  transform-origin: right;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition-delay: 0s;
}
.reveal.second:before,
.reveal:nth-child(even):before {
  background-color: var(--second-color);
}
.reveal.active::before {
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition-delay: 0.5s;
}


/* ---------- MEDIA QUERIES ---------- */
/* para pantallas muy chicas */
@media screen and (max-width: 250px) {
  .flex-ssm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
