<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="reveal second m-0">Experiencia laboral</h2>
  <button type="button" class="btn btn-outline-light p-1" 
  data-bs-toggle="modal" data-bs-target="#newExp" *ngIf="isLoggedIn">
    <i class="bi bi-plus-square"></i>
  </button>
</div>

<div class="row" *ngFor="let exp of experience">
  <div class="col-1 d-flex flex-column align-items-center p-0">
    <div class="rounder"></div>
    <div class="line"></div>
  </div>

  <div class="col-11">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="m-0">{{exp.expName}}</h5>

      <div class="d-flex gap-1 ms-3">
        <button type="button" class="btn btn-outline-light p-1" 
        data-bs-toggle="modal" data-bs-target="#editExp" 
        *ngIf="isLoggedIn">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" class="btn btn-outline-light p-1" 
        *ngIf="isLoggedIn" (click)="delete(exp.id)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  
    <p>{{exp.expDesc}}</p>
  </div>
</div>

<app-new-experience></app-new-experience>
<!-- <app-edit-experience></app-edit-experience> -->
